In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/02ng/Task2-SearchTask/AllQuantifiedPeptides.tsv', sep='\t')

In [3]:
df.columns

Index(['Sequence', 'Base Sequence', 'Protein Groups', 'Gene Names', 'Organism',
       'Intensity_Ex_Auto_J3_30umTB_02ngQC_60m_1-calib',
       'Intensity_Ex_Auto_J3_30umTB_02ngQC_60m_2-calib',
       'Intensity_Ex_Auto_K13_30umTA_02ngQC_60m_1-calib',
       'Intensity_Ex_Auto_K13_30umTA_02ngQC_60m_2-calib',
       'Intensity_Ex_Auto_W17_30umTA_02ngQC_60m_3-calib',
       'Intensity_Ex_Auto_W17_30umTA_02ngQC_60m_4-calib',
       'Detection Type_Ex_Auto_J3_30umTB_02ngQC_60m_1-calib',
       'Detection Type_Ex_Auto_J3_30umTB_02ngQC_60m_2-calib',
       'Detection Type_Ex_Auto_K13_30umTA_02ngQC_60m_1-calib',
       'Detection Type_Ex_Auto_K13_30umTA_02ngQC_60m_2-calib',
       'Detection Type_Ex_Auto_W17_30umTA_02ngQC_60m_3-calib',
       'Detection Type_Ex_Auto_W17_30umTA_02ngQC_60m_4-calib', 'Unnamed: 17'],
      dtype='object')

In [4]:
# we need to get the PGM1 protein and see if it's kind of looking the same.

In [5]:
df_peptide_notshared = df[~df['Protein Groups'].str.contains(';')]
df_peptide_notshared 

df_peptide_shared = df[df['Protein Groups'].str.contains(';')]
df_peptide_shared

df_peptide_shared['gene_split'] = df_peptide_shared['Gene Names'].str.split(';')
# df_peptide_shared[['Gene Names', 'gene_split']]

#expand the rows. the concat onto other df
df2_pep_shared = df_peptide_shared.explode('gene_split').reset_index(drop=True)
df2_pep_shared['Gene Names'] = df2_pep_shared['Gene Names'].str.split(';').str[0]
df2_pep_shared = df2_pep_shared[df2_pep_shared['gene_split'] != ""] #without this line protein that have the format AAX; are added twice

df_combined = pd.concat([df_peptide_notshared, df2_pep_shared])
df_combined

/var/folders/zk/jc657sbs27l7_q82ygdlvxxc0000gp/T/ipykernel_45695/226859099.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_peptide_shared['gene_split'] = df_peptide_shared['Gene Names'].str.split(';')

,Sequence,Base Sequence,Protein Groups,Gene Names,Organism,Intensity_Ex_Auto_J3_30umTB_02ngQC_60m_1-calib,Intensity_Ex_Auto_J3_30umTB_02ngQC_60m_2-calib,Intensity_Ex_Auto_K13_30umTA_02ngQC_60m_1-calib,Intensity_Ex_Auto_K13_30umTA_02ngQC_60m_2-calib,Intensity_Ex_Auto_W17_30umTA_02ngQC_60m_3-calib,Intensity_Ex_Auto_W17_30umTA_02ngQC_60m_4-calib,Detection Type_Ex_Auto_J3_30umTB_02ngQC_60m_1-calib,Detection Type_Ex_Auto_J3_30umTB_02ngQC_60m_2-calib,Detection Type_Ex_Auto_K13_30umTA_02ngQC_60m_1-calib,Detection Type_Ex_Auto_K13_30umTA_02ngQC_60m_2-calib,Detection Type_Ex_Auto_W17_30umTA_02ngQC_60m_3-calib,Detection Type_Ex_Auto_W17_30umTA_02ngQC_60m_4-calib,Unnamed: 17,gene_split
0,AAAAAAAAAPAAAATAPTTAATTAATAAQ,AAAAAAAAAPAAAATAPTTAATTAATAAQ,P37108,SRP14,Homo sapiens,0.000000,0.000000,11000.391546,6858.943153,0.000000,0.000000,NotDetected,NotDetected,MSMS,MBR,NotDetected,NotDetected,NaN,NaN
1,AAAAAAAKM[Common Variable:Oxidation on M]DGKESK,AAAAAAAKMDGKESK,Q9NYV4,CDK12,Homo sapiens,0.000000,0.000000,10631.583372,7739.976429,0.000000,0.000000,NotDetected,NotDetected,MBR,MSMS,NotDetected,NotDetected,NaN,NaN
2,AAAAAAALQAK,AAAAAAALQAK,P36578,RPL4,Homo sapiens,117684.917969,129031.098048,46195.730583,53556.075772,49265.722434,66364.496478,MSMS,MSMS,MSMS,MSMS,MSMS,MSMS,NaN,NaN
3,AAAAADLANR,AAAAADLANR,O76031,CLPX,Homo sapiens,11577.657841,0.000000,0.000000,0.000000,0.000000,0.000000,MSMS,NotDetected,NotDetected,NotDetected,NotDetected,NotDetected,NaN,NaN
4,AAAEDVNVTFEDQQK,AAAEDVNVTFEDQQK,Q9NQP4,PFDN4,Homo sapiens,10213.544154,10692.679149,0.000000,0.000000,13240.955154,7370.631535,MSMS,MSMS,NotDetected,NotDetected,MBR,MBR,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2593,YTQVGPDHNR,YTQVGPDHNR,Q08211;UNDEFINED,DHX9,Homo sapiens;,19545.152832,22579.931675,10783.123548,9404.400834,5168.985887,10364.836435,MSMS,MSMS,MSMS,MSMS,MSMS,MSMS,NaN,DHX9
2595,YVPLADVK,YVPLADVK,P42167;UNDEFINED,TMPO,Homo sapiens;,13335.779111,11511.688188,8718.013053,8812.305660,8517.674292,9091.229913,MSMS,MSMS,MSMS,MBR,MBR,MBR,NaN,TMPO
2597,YYITIIDAPGHR,YYITIIDAPGHR,Q05639;UNDEFINED,EEF1A2,Homo sapiens;,5473.087156,5028.052734,9770.699834,6445.882194,10016.686091,7238.955835,MSMS,MSMS,MSMS,MBR,MBR,MBR,NaN,EEF1A2
2599,YYPTEDVPRK,YYPTEDVPRK,Q02878;UNDEFINED,RPL6,Homo sapiens;,24073.791667,29948.978151,23410.968948,24844.395507,16309.366313,25651.285833,MSMS,MSMS,MSMS,MSMS,MSMS,MSMS,NaN,RPL6
2601,YYVTIIDAPGHR,YYVTIIDAPGHR,P68104|Q5VTE0;UNDEFINED,EEF1A1|EEF1A1P5,Homo sapiens;,428751.371094,480617.077430,516050.996844,570742.337316,529176.145771,305197.710511,MSMS,MSMS,MSMS,MSMS,MSMS,MSMS,NaN,EEF1A1|EEF1A1P5

In [6]:
#how many proteins are there total?
df_combined = df_combined[['Gene Names','Sequence',
        'Intensity_Ex_Auto_J3_30umTB_02ngQC_60m_1-calib',
       'Intensity_Ex_Auto_J3_30umTB_02ngQC_60m_2-calib',
       'Intensity_Ex_Auto_K13_30umTA_02ngQC_60m_1-calib',
       'Intensity_Ex_Auto_K13_30umTA_02ngQC_60m_2-calib',
       'Intensity_Ex_Auto_W17_30umTA_02ngQC_60m_3-calib',
       'Intensity_Ex_Auto_W17_30umTA_02ngQC_60m_4-calib'
   ]]

In [7]:
#Calculates the total spectral count for each row. Will help to find examples
def calc_totals(row):
    total = 0
    if row[2] != 0:
        total += 1
    if row[3] != 0:
        total += 1
    if row[4] != 0:
        total += 1
    if row[5] != 0:
        total += 1
    if row[6] != 0:
        total += 1 
    if row[7] != 0:
        total += 1 

    return total


df_with_totals = df_combined.copy()
df_with_totals['Total_Count'] = df_with_totals.apply(calc_totals, axis = 1)
df_with_totals = df_with_totals[~df_with_totals['Gene Names'].isnull()]

In [8]:
df_gene_ind = df_with_totals.set_index(['Gene Names', 'Sequence']) #create a multiindex dataframe
df_gene_ind = df_gene_ind[df_gene_ind['Total_Count']>0]#drop rows that don't have any intensities in any col. Who knows why that's a thing
df_gene_ind = df_gene_ind.sort_index()
df_gene_ind

                                                             Intensity_Ex_Auto_J3_30umTB_02ngQC_60m_1-calib  \
Gene Names Sequence
A2M        PLLVEPEGLEK                                                                         14260.477463
           QTVSWAVTPK                                                                              0.000000
AARS1      AVFDETYPDPVR                                                                        19986.877470
           AVYTQDC[Common Fixed:Carbamidomethyl on C]PLAAAK                                    18786.153125
           DIINEEEVQFLK                                                                        13327.154595
...                                                                                                     ...
ZNF207     PATLTTTSATSK                                                                        13979.045335
ZNF568     KQQETLVR                                                                            24200.065710
ZNF714     GLGEQIAR                                                                            85607.295410
ZNF806     NNILNLQGK                                                                           13325.128322
ZYX        QNVAVNELC[Common Fixed:Carbamidomethyl on C]GR                                       6033.022808

                                                             Intensity_Ex_Auto_J3_30umTB_02ngQC_60m_2-calib  \
Gene Names Sequence
A2M        PLLVEPEGLEK                                                                         12898.524743
           QTVSWAVTPK                                                                           3952.918810
AARS1      AVFDETYPDPVR                                                                        18796.052414
           AVYTQDC[Common Fixed:Carbamidomethyl on C]PLAAAK                                    21909.318084
           DIINEEEVQFLK                                                                        11928.547505
...                                                                                                     ...
ZNF207     PATLTTTSATSK                                                                        15083.381448
ZNF568     KQQETLVR                                                                            27796.370396
ZNF714     GLGEQIAR                                                                            89972.865261
ZNF806     NNILNLQGK                                                                           15839.566755
ZYX        QNVAVNELC[Common Fixed:Carbamidomethyl on C]GR                                       9333.160840

                                                             Intensity_Ex_Auto_K13_30umTA_02ngQC_60m_1-calib  \
Gene Names Sequence
A2M        PLLVEPEGLEK                                                                              0.000000
           QTVSWAVTPK                                                                           22108.867535
AARS1      AVFDETYPDPVR                                                                          8834.927547
           AVYTQDC[Common Fixed:Carbamidomethyl on C]PLAAAK                                     25429.985327
           DIINEEEVQFLK                                                                             0.000000
...                                                                                                      ...
ZNF207     PATLTTTSATSK                                                                         16774.737404
ZNF568     KQQETLVR                                                                             13409.475013
ZNF714     GLGEQIAR                                                                                 0.000000
ZNF806     NNILNLQGK                                                                             7119.866489
ZYX        QNVAVNELC[Common Fixed:Carbamidomethyl on C]GR                                        6745.774576

                                                             Intensity_Ex_Auto_K13_30umTA_02ngQC_60m_2-calib  \
Gene Names Sequence
A2M        PLLVEPEGLEK                                                                              0.000000
           QTVSWAVTPK                                                                           22884.586230
AARS1      AVFDETYPDPVR                                                                         16369.272455
           AVYTQDC[Common Fixed:Carbamidomethyl on C]PLAAAK                                     26030.352438
           DIINEEEVQFLK                                                                             0.000000
...                                                                                                      ...
ZNF207     PATLTTTSATSK                                                                             0.000000
ZNF568     KQQETLVR                                                                             10548.404871
ZNF714     GLGEQIAR                                                                                 0.000000
ZNF806     NNILNLQGK                                                                            10917.915837
ZYX        QNVAVNELC[Common Fixed:Carbamidomethyl on C]GR                                        8719.435717

                                                             Intensity_Ex_Auto_W17_30umTA_02ngQC_60m_3-calib  \
Gene Names Sequence
A2M        PLLVEPEGLEK                                                                          26723.241601
           QTVSWAVTPK                                                                           18401.526085
AARS1      AVFDETYPDPVR                                                                         21800.316168
           AVYTQDC[Common Fixed:Carbamidomethyl on C]PLAAAK                                     22123.840734
           DIINEEEVQFLK                                                                         11021.467922
...                                                                                                      ...
ZNF207     PATLTTTSATSK                                                                          9573.871414
ZNF568     KQQETLVR                                                                              9054.419761
ZNF714     GLGEQIAR                                                                             36764.697483
ZNF806     NNILNLQGK                                                                                0.000000
ZYX        QNVAVNELC[Common Fixed:Carbamidomethyl on C]GR                                       12316.232156

                                                             Intensity_Ex_Auto_W17_30umTA_02ngQC_60m_4-calib  \
Gene Names Sequence
A2M        PLLVEPEGLEK                                                                          24622.270069
           QTVSWAVTPK                                                                            7943.632782
AARS1      AVFDETYPDPVR                                                                         14789.900056
           AVYTQDC[Common Fixed:Carbamidomethyl on C]PLAAAK                                     21379.228269
           DIINEEEVQFLK                                                                         18885.955689
...                                                                                                      ...
ZNF207     PATLTTTSATSK                                                                             0.000000
ZNF568     KQQETLVR                                                                             12088.195006
ZNF714     GLGEQIAR                                                                             47833.531586
ZNF806     NNILNLQGK                                                                                0.000000
ZYX        QNVAVNELC[Common Fixed:Carbamidomethyl on C]GR                                        6219.273676

                                                             Total_Count
Gene Names Sequence
A2M        PLLVEPEGLEK                                                 4
           QTVSWAVTPK                                                  5
AARS1      AVFDETYPDPVR                                                6
           AVYTQDC[Common Fixed:Carbamidomethyl on C]PLAAAK            6
           DIINEEEVQFLK                                                4
...                                                                  ...
ZNF207     PATLTTTSATSK                                                4
ZNF568     KQQETLVR                                                    6
ZNF714     GLGEQIAR                                                    4
ZNF806     NNILNLQGK                                                   4
ZYX        QNVAVNELC[Common Fixed:Carbamidomethyl on C]GR              6

[7978 rows x 7 columns]

In [9]:
len(list(df_gene_ind.index.get_level_values('Gene Names').unique()))

1420

In [10]:
no_consistent= []
one_consistent = []
two_consistent = []
three_consistent = []
fourplus_consistent = []

num_proteins = 0

for gene, gene_df in df_gene_ind.groupby(level=0):
    num_proteins+=1
    #loop through each gene and count the number of consistent peptides
    if len(gene_df[gene_df['Total_Count'] == 6]) == 0:
        no_consistent.append(gene)
    elif len(gene_df[gene_df['Total_Count'] == 6]) == 1:
        one_consistent.append(gene)
    elif len(gene_df[gene_df['Total_Count'] == 6]) == 2:
        two_consistent.append(gene)
    elif len(gene_df[gene_df['Total_Count'] == 6]) == 3:
        three_consistent.append(gene)
    elif len(gene_df[gene_df['Total_Count'] == 6]) >= 4:
        fourplus_consistent.append(gene)
        
    else:
        print('something is wrong')

In [11]:
expdf = df_gene_ind.rename({'Intensity_Ex_Auto_J3_30umTB_02ngQC_60m_1-calib':'rep1',
                           'Intensity_Ex_Auto_J3_30umTB_02ngQC_60m_2-calib':'rep2',
                            'Intensity_Ex_Auto_K13_30umTA_02ngQC_60m_1-calib':'rep3',
                            'Intensity_Ex_Auto_K13_30umTA_02ngQC_60m_2-calib':'rep4',
                            'Intensity_Ex_Auto_W17_30umTA_02ngQC_60m_3-calib':'rep5',
                            'Intensity_Ex_Auto_W17_30umTA_02ngQC_60m_4-calib':'rep6'
                           },axis=1)
expdf.drop(columns='Total_Count', axis=1, inplace=True)
expdf = expdf.sort_index()

In [12]:
expdf = expdf.round(0)

In [13]:
#calculate mean and median outcomes from selected examples

In [14]:
expdf[expdf.index.get_level_values('Gene Names') == 'ACO2']

                            rep1    rep2     rep3     rep4     rep5    rep6
Gene Names Sequence
ACO2       LQLLEPFDK      8341.0  9283.0      0.0      0.0   5534.0  9975.0
           SQFTITPGSEQIR     0.0     0.0  10596.0  10808.0  13413.0     0.0

In [15]:
expdf[expdf.index.get_level_values('Gene Names') == 'ACO2'].max(axis=1)

Gene Names  Sequence
ACO2        LQLLEPFDK         9975.0
            SQFTITPGSEQIR    13413.0
dtype: float64

In [16]:
expdf[expdf.index.get_level_values('Gene Names') == 'ACO2'].median(axis=1)

Gene Names  Sequence
ACO2        LQLLEPFDK        6937.5
            SQFTITPGSEQIR    5298.0
dtype: float64

In [17]:
expdf[expdf.index.get_level_values('Gene Names') == 'RRS1']

                                                                  rep1  \
Gene Names Sequence
RRS1       C[Common Fixed:Carbamidomethyl on C]AGPTPEAELQALAR   6913.0
           FQPLFGDFAAEK                                         8089.0
           VEEAIVAR                                            15578.0

                                                                 rep2  \
Gene Names Sequence
RRS1       C[Common Fixed:Carbamidomethyl on C]AGPTPEAELQALAR     0.0
           FQPLFGDFAAEK                                        8020.0
           VEEAIVAR                                               0.0

                                                                  rep3  \
Gene Names Sequence
RRS1       C[Common Fixed:Carbamidomethyl on C]AGPTPEAELQALAR  10869.0
           FQPLFGDFAAEK                                         8641.0
           VEEAIVAR                                                0.0

                                                                  rep4  \
Gene Names Sequence
RRS1       C[Common Fixed:Carbamidomethyl on C]AGPTPEAELQALAR  13394.0
           FQPLFGDFAAEK                                        10815.0
           VEEAIVAR                                            12644.0

                                                                 rep5     rep6
Gene Names Sequence
RRS1       C[Common Fixed:Carbamidomethyl on C]AGPTPEAELQALAR  6816.0  12291.0
           FQPLFGDFAAEK                                        8922.0  13755.0
           VEEAIVAR                                               0.0      0.0

In [18]:
expdf[expdf.index.get_level_values('Gene Names') == 'RRS1'].max(axis=1)

Gene Names  Sequence
RRS1        C[Common Fixed:Carbamidomethyl on C]AGPTPEAELQALAR    13394.0
            FQPLFGDFAAEK                                          13755.0
            VEEAIVAR                                              15578.0
dtype: float64

In [19]:
expdf[expdf.index.get_level_values('Gene Names') == 'RRS1'].median(axis=1)

Gene Names  Sequence
RRS1        C[Common Fixed:Carbamidomethyl on C]AGPTPEAELQALAR    8891.0
            FQPLFGDFAAEK                                          8781.5
            VEEAIVAR                                                 0.0
dtype: float64

In [20]:
expdf[expdf.index.get_level_values('Gene Names') == 'PGM1']

                                                                  rep1  \
Gene Names Sequence
PGM1       FFGNLMDASK                                           8615.0
           FNISNGGPAPEAITDK                                    10812.0
           LSLC[Common Fixed:Carbamidomethyl on C]GEESFGTG...      0.0
           QEATLVVGGDGR                                         6485.0
           SIFDFSALK                                            6382.0
           VDLGVLGK                                             4128.0

                                                                 rep2  \
Gene Names Sequence
PGM1       FFGNLMDASK                                          7159.0
           FNISNGGPAPEAITDK                                       0.0
           LSLC[Common Fixed:Carbamidomethyl on C]GEESFGTG...     0.0
           QEATLVVGGDGR                                        7666.0
           SIFDFSALK                                           7146.0
           VDLGVLGK                                            8711.0

                                                                  rep3  \
Gene Names Sequence
PGM1       FFGNLMDASK                                           9597.0
           FNISNGGPAPEAITDK                                        0.0
           LSLC[Common Fixed:Carbamidomethyl on C]GEESFGTG...  14043.0
           QEATLVVGGDGR                                            0.0
           SIFDFSALK                                            6246.0
           VDLGVLGK                                             5373.0

                                                                 rep4  \
Gene Names Sequence
PGM1       FFGNLMDASK                                          7914.0
           FNISNGGPAPEAITDK                                       0.0
           LSLC[Common Fixed:Carbamidomethyl on C]GEESFGTG...  8081.0
           QEATLVVGGDGR                                           0.0
           SIFDFSALK                                           7164.0
           VDLGVLGK                                            7660.0

                                                                  rep5  \
Gene Names Sequence
PGM1       FFGNLMDASK                                           7259.0
           FNISNGGPAPEAITDK                                    19930.0
           LSLC[Common Fixed:Carbamidomethyl on C]GEESFGTG...      0.0
           QEATLVVGGDGR                                         4707.0
           SIFDFSALK                                            7232.0
           VDLGVLGK                                            13656.0

                                                                  rep6
Gene Names Sequence
PGM1       FFGNLMDASK                                          12042.0
           FNISNGGPAPEAITDK                                        0.0
           LSLC[Common Fixed:Carbamidomethyl on C]GEESFGTG...      0.0
           QEATLVVGGDGR                                            0.0
           SIFDFSALK                                           10132.0
           VDLGVLGK                                                0.0

In [21]:
expdf[expdf.index.get_level_values('Gene Names') == 'PGM1'].max(axis=1)

Gene Names  Sequence
PGM1        FFGNLMDASK                                              12042.0
            FNISNGGPAPEAITDK                                        19930.0
            LSLC[Common Fixed:Carbamidomethyl on C]GEESFGTGSDHIR    14043.0
            QEATLVVGGDGR                                             7666.0
            SIFDFSALK                                               10132.0
            VDLGVLGK                                                13656.0
dtype: float64

In [22]:
expdf[expdf.index.get_level_values('Gene Names') == 'PGM1'].median(axis=1)

Gene Names  Sequence
PGM1        FFGNLMDASK                                              8264.5
            FNISNGGPAPEAITDK                                           0.0
            LSLC[Common Fixed:Carbamidomethyl on C]GEESFGTGSDHIR       0.0
            QEATLVVGGDGR                                            2353.5
            SIFDFSALK                                               7155.0
            VDLGVLGK                                                6516.5
dtype: float64

# Old Code for Exploration

In [23]:
#find examples for 0 constistent, 1 consistent, and 2 consistent

In [24]:
two_consistent

['ABCE1',
 'ACAT1',
 'ACOT13',
 'ACP1',
 'ADH5',
 'AHSA1',
 'AIFM1',
 'AIMP1',
 'AIMP2',
 'AK1',
 'ALDH7A1',
 'APEX1',
 'ARF3|ARF1',
 'ATP5F1D',
 'ATP5MG',
 'ATP5MK',
 'BAG2',
 'BCAP31',
 'C3',
 'CALM1|CALM2|CALM3',
 'CAPN1',
 'CAPN2',
 'CHCHD3',
 'CKB',
 'CMBL',
 'COPG1',
 'CORO1C',
 'COX5A',
 'CPNE3',
 'CRIP1',
 'DDX39B',
 'DDX46',
 'DHX15',
 'DLST',
 'EBNA1BP2',
 'EFTUD2',
 'EIF2S2',
 'EIF3D',
 'EIF3G',
 'EIF3L',
 'EIF6',
 'ELOB',
 'FARSB',
 'FDPS',
 'FKBP3',
 'FXR1',
 'GLOD4',
 'GNL3',
 'GTF2I',
 'GTPBP4',
 'H1-10',
 'H2AC4|H2AC11|H2AC7|H2AC20|H2AC18|H2AW|H2AC6|H2AC12|H2AC14|H2AJ',
 'H3-2',
 'HBD|HBB',
 'HINT1',
 'HM13',
 'HNRNPAB',
 'IGF2BP3',
 'IMMT',
 'KRT10',
 'LMAN1',
 'LONP1',
 'LPCAT1',
 'MAPRE1',
 'MAT2B',
 'MCM2',
 'MRPL12',
 'MRTO4',
 'MYL12B|MYL12A',
 'NAA50',
 'NAMPT',
 'NCBP1',
 'NIBAN2',
 'NUDC',
 'OLA1',
 'PAIP1',
 'PCK2',
 'PDCD6',
 'PDHB',
 'PFAS',
 'PFDN6',
 'PFKL',
 'PGLS',
 'PGM1',
 'PPA2',
 'PPIF',
 'PPM1G',
 'PSMA2',
 'PSMB7',
 'PSMC2',
 'PSMC3',
 'PSMC4',
 'PSMD13',
 'PSMD5',
 'PSMD8',
 'PTGES3',
 'RAB1A',
 'RAB5A',
 'RALY',
 'RBM8A',
 'REEP5',
 'RHOA',
 'RNH1',
 'RNPEP',
 'RPL21',
 'RPL22',
 'RPL35',
 'RPL38',
 'RPS14',
 'RPS20',
 'RRM1',
 'RTN4',
 'S100A16',
 'S100P',
 'SAFB2|SAFB',
 'SAR1A',
 'SARNP',
 'SBDS',
 'SDHA',
 'SEC13',
 'SEC61A1',
 'SEC61B',
 'SET',
 'SF3A3',
 'SFN',
 'SH3GL1',
 'SLC25A4',
 'SLC7A5',
 'SLIRP',
 'SNRPA1',
 'SNRPD1',
 'SNRPE',
 'SNRPGP15|SNRPG',
 'SRM',
 'SRP14',
 'SRSF1',
 'SRSF6',
 'SRSF7',
 'SSR1',
 'STOM',
 'TBCA',
 'TECR',
 'TMEM63A',
 'TMX1',
 'TOP2A',
 'TPP1',
 'TXNDC17',
 'U2AF2',
 'UBA2',
 'UGP2',
 'VAPB',
 'VAT1',
 'VBP1',
 'VPS26A',
 'VPS29',
 'WDR87',
 'XPOT',
 'YWHAG']

In [25]:
# expdf[expdf.index.get_level_values('Gene Names') == '']

In [26]:
expdf[expdf.index.get_level_values('Gene Names') == 'PDHB']

                                                                rep1     rep2  \
Gene Names Sequence
PDHB       DFLIPIGK                                           9719.0   9016.0
           EGVEC[Common Fixed:Carbamidomethyl on C]EVINMR     9582.0   8944.0
           ILEDNSIPQVK                                       20535.0  19543.0
           IM[Common Variable:Oxidation on M]EGPAFNFLDAPAVR      0.0   4177.0
           TYYM[Common Variable:Oxidation on M]SGGLQPVPIVFR      0.0      0.0

                                                                rep3     rep4  \
Gene Names Sequence
PDHB       DFLIPIGK                                          12716.0  12381.0
           EGVEC[Common Fixed:Carbamidomethyl on C]EVINMR        0.0      0.0
           ILEDNSIPQVK                                       18310.0  17079.0
           IM[Common Variable:Oxidation on M]EGPAFNFLDAPAVR  14258.0  11221.0
           TYYM[Common Variable:Oxidation on M]SGGLQPVPIVFR   8766.0  10208.0

                                                                rep5     rep6
Gene Names Sequence
PDHB       DFLIPIGK                                          14130.0  13627.0
           EGVEC[Common Fixed:Carbamidomethyl on C]EVINMR    11203.0      0.0
           ILEDNSIPQVK                                       18324.0   6879.0
           IM[Common Variable:Oxidation on M]EGPAFNFLDAPAVR      0.0   8895.0
           TYYM[Common Variable:Oxidation on M]SGGLQPVPIVFR      0.0      0.0

In [27]:
expdf[expdf.index.get_level_values('Gene Names') == 'PDCD6']

                           rep1     rep2     rep3     rep4     rep5     rep6
Gene Names Sequence
PDCD6      LSDQFHDILIR  26226.0  13849.0  20510.0  25573.0  23372.0  31636.0
           QALSGFGYR    17082.0  12153.0  12209.0  14178.0      0.0      0.0
           SIISMFDR     12994.0  11262.0   6448.0  10726.0  15595.0  16947.0

In [28]:
expdf[expdf.index.get_level_values('Gene Names') == 'PCK2']

                                                               rep1     rep2  \
Gene Names Sequence
PCK2       AIDTTQLFSLPK                                      7952.0   7542.0
           EIISFGSGYGGNSLLGK                                    0.0      0.0
           VLSGDLGQLPTGIR                                   11363.0  10931.0
           YVAAAFPSAC[Common Fixed:Carbamidomethyl on C]GK   7384.0   6594.0

                                                               rep3     rep4  \
Gene Names Sequence
PCK2       AIDTTQLFSLPK                                     16151.0  12089.0
           EIISFGSGYGGNSLLGK                                10620.0   6795.0
           VLSGDLGQLPTGIR                                   23666.0  22556.0
           YVAAAFPSAC[Common Fixed:Carbamidomethyl on C]GK      0.0  11953.0

                                                               rep5     rep6
Gene Names Sequence
PCK2       AIDTTQLFSLPK                                      9919.0  12672.0
           EIISFGSGYGGNSLLGK                                    0.0  13096.0
           VLSGDLGQLPTGIR                                   12556.0  21511.0
           YVAAAFPSAC[Common Fixed:Carbamidomethyl on C]GK   9577.0  10233.0

In [29]:
expdf[expdf.index.get_level_values('Gene Names') == 'PAIP1']

                                                               rep1     rep2  \
Gene Names Sequence
PAIP1      ADILQVGLR                                         6480.0   5958.0
           IENVVLDANC[Common Fixed:Carbamidomethyl on C]SR  15790.0   8796.0
           PQVVVAPVLMSK                                     52946.0  25795.0

                                                              rep3     rep4  \
Gene Names Sequence
PAIP1      ADILQVGLR                                           0.0      0.0
           IENVVLDANC[Common Fixed:Carbamidomethyl on C]SR  8917.0   8089.0
           PQVVVAPVLMSK                                     9102.0  11629.0

                                                               rep5     rep6
Gene Names Sequence
PAIP1      ADILQVGLR                                            0.0  10982.0
           IENVVLDANC[Common Fixed:Carbamidomethyl on C]SR  11656.0   6161.0
           PQVVVAPVLMSK                                     12257.0  54348.0

In [30]:
expdf[expdf.index.get_level_values('Gene Names') == 'OLA1']

                                                            rep1     rep2  \
Gene Names Sequence
OLA1       FDFLC[Common Fixed:Carbamidomethyl on C]QYHK   6740.0   6635.0
           IGIVGLPNVGK                                    7005.0   5067.0
           LQELSAEER                                     13058.0  14263.0
           PMVYLVNLSEK                                    7907.0   7262.0

                                                            rep3    rep4  \
Gene Names Sequence
OLA1       FDFLC[Common Fixed:Carbamidomethyl on C]QYHK   9076.0  6171.0
           IGIVGLPNVGK                                   14927.0     0.0
           LQELSAEER                                         0.0     0.0
           PMVYLVNLSEK                                   12527.0  8736.0

                                                            rep5     rep6
Gene Names Sequence
OLA1       FDFLC[Common Fixed:Carbamidomethyl on C]QYHK  10382.0  12929.0
           IGIVGLPNVGK                                    6591.0   9440.0
           LQELSAEER                                         0.0  13190.0
           PMVYLVNLSEK                                   13501.0  16951.0

In [31]:
expdf[expdf.index.get_level_values('Gene Names') == 'NUDC']

                               rep1     rep2     rep3     rep4     rep5  \
Gene Names Sequence
NUDC       DMVVDIQR         11645.0   8226.0      0.0      0.0  11062.0
           ELTDEEAER        19477.0  16077.0      0.0      0.0      0.0
           FMDQHPEMDFSK     11043.0   7001.0      0.0      0.0  18794.0
           GQPAIIDGELYNEVK  18264.0  14617.0      0.0      0.0  15062.0
           LITQTFSHHNQLAQK  11624.0  12497.0      0.0      0.0  11277.0
           LKPNLGNGADLPNYR  10295.0   9021.0  12371.0  12673.0  10702.0
           LQLEIDQK         27748.0  25987.0  10398.0   8354.0  45888.0
           LSDLDSETR        25602.0  25805.0      0.0      0.0  11469.0
           LVSSDPEINTK      35650.0  39604.0  23160.0  24244.0  27492.0
           TDFFIGGEEGMAEK   14100.0  10780.0      0.0      0.0  12289.0

                               rep6
Gene Names Sequence
NUDC       DMVVDIQR         11820.0
           ELTDEEAER            0.0
           FMDQHPEMDFSK      9116.0
           GQPAIIDGELYNEVK  21570.0
           LITQTFSHHNQLAQK  10473.0
           LKPNLGNGADLPNYR      0.0
           LQLEIDQK         15387.0
           LSDLDSETR        11378.0
           LVSSDPEINTK      29249.0
           TDFFIGGEEGMAEK   15353.0

In [32]:
expdf[expdf.index.get_level_values('Gene Names') == 'NAMPT']

                                                           rep1     rep2  \
Gene Names Sequence
NAMPT      AVPEGFVIPR                                    3205.0   2525.0
           DLLNC[Common Fixed:Carbamidomethyl on C]SFK   8748.0  11237.0
           GTDTVAGLALIK                                 13746.0  13163.0
           GVSSQETAGIGASAHLVNFK                         19312.0   5360.0
           NAQLNIELEAAHH                                 9304.0   8483.0
           TPAGNFVTLEEGK                                 8246.0   8897.0

                                                           rep3     rep4  \
Gene Names Sequence
NAMPT      AVPEGFVIPR                                       0.0   6101.0
           DLLNC[Common Fixed:Carbamidomethyl on C]SFK      0.0      0.0
           GTDTVAGLALIK                                 13138.0  13386.0
           GVSSQETAGIGASAHLVNFK                         17178.0  18713.0
           NAQLNIELEAAHH                                 8501.0   9069.0
           TPAGNFVTLEEGK                                11492.0  11590.0

                                                           rep5     rep6
Gene Names Sequence
NAMPT      AVPEGFVIPR                                    4123.0   7688.0
           DLLNC[Common Fixed:Carbamidomethyl on C]SFK  10553.0      0.0
           GTDTVAGLALIK                                 10507.0  17555.0
           GVSSQETAGIGASAHLVNFK                          9439.0  18149.0
           NAQLNIELEAAHH                                10606.0      0.0
           TPAGNFVTLEEGK                                17510.0      0.0

In [33]:
expdf[expdf.index.get_level_values('Gene Names') == 'MRTO4']

                         rep1    rep2    rep3     rep4     rep5     rep6
Gene Names Sequence
MRTO4      GEVGLLFTNR  8600.0  7883.0  8209.0  11029.0  11044.0  11603.0
           QLGLPTALK   7386.0  6358.0  8203.0   8864.0   6388.0   7513.0

In [34]:
expdf[expdf.index.get_level_values('Gene Names') == 'MCM2']

                                                                  rep1  \
Gene Names Sequence
MCM2       DTVDPVQDEMLAR                                        9028.0
           ESLVVNYEDLAAR                                       11626.0
           ESMATGSIPITVR                                           0.0
           FDILC[Common Fixed:Carbamidomethyl on C]VVR         10400.0
           GDINVLLC[Common Fixed:Carbamidomethyl on C]GDPGTAK  13635.0
           GVC[Common Fixed:Carbamidomethyl on C]LIDEFDK        9043.0
           IFASIAPSIYGHEDIK                                     7919.0
           ISHLPLVEELR                                          3519.0
           QLVAEQVTYQR                                         10328.0
           TSIHEAMEQQSISISK                                     7815.0
           VAVGELTDEDVK                                        10964.0

                                                                  rep2  \
Gene Names Sequence
MCM2       DTVDPVQDEMLAR                                        4585.0
           ESLVVNYEDLAAR                                        8280.0
           ESMATGSIPITVR                                           0.0
           FDILC[Common Fixed:Carbamidomethyl on C]VVR         10560.0
           GDINVLLC[Common Fixed:Carbamidomethyl on C]GDPGTAK  14978.0
           GVC[Common Fixed:Carbamidomethyl on C]LIDEFDK       10769.0
           IFASIAPSIYGHEDIK                                     9726.0
           ISHLPLVEELR                                          2272.0
           QLVAEQVTYQR                                          5504.0
           TSIHEAMEQQSISISK                                    10204.0
           VAVGELTDEDVK                                        11387.0

                                                                  rep3  \
Gene Names Sequence
MCM2       DTVDPVQDEMLAR                                           0.0
           ESLVVNYEDLAAR                                           0.0
           ESMATGSIPITVR                                       12259.0
           FDILC[Common Fixed:Carbamidomethyl on C]VVR         15269.0
           GDINVLLC[Common Fixed:Carbamidomethyl on C]GDPGTAK      0.0
           GVC[Common Fixed:Carbamidomethyl on C]LIDEFDK           0.0
           IFASIAPSIYGHEDIK                                    10193.0
           ISHLPLVEELR                                             0.0
           QLVAEQVTYQR                                          8214.0
           TSIHEAMEQQSISISK                                        0.0
           VAVGELTDEDVK                                            0.0

                                                                  rep4  \
Gene Names Sequence
MCM2       DTVDPVQDEMLAR                                           0.0
           ESLVVNYEDLAAR                                           0.0
           ESMATGSIPITVR                                       15131.0
           FDILC[Common Fixed:Carbamidomethyl on C]VVR         10489.0
           GDINVLLC[Common Fixed:Carbamidomethyl on C]GDPGTAK      0.0
           GVC[Common Fixed:Carbamidomethyl on C]LIDEFDK           0.0
           IFASIAPSIYGHEDIK                                     9889.0
           ISHLPLVEELR                                             0.0
           QLVAEQVTYQR                                          6984.0
           TSIHEAMEQQSISISK                                        0.0
           VAVGELTDEDVK                                            0.0

                                                                  rep5  \
Gene Names Sequence
MCM2       DTVDPVQDEMLAR                                           0.0
           ESLVVNYEDLAAR                                       10475.0
           ESMATGSIPITVR                                       13049.0
           FDILC[Common Fixed:Carbamidomethyl on C]VVR         11453.0
           GDINVLLC[Common Fixed:Carbamidomethyl on C]GDPGTAK  14943.0
           GVC[Common Fixed:Carbamidomethyl on C]LIDEFDK       12018.0
           IFASIAPSIYGHEDIK                                    10950.0
           ISHLPLVEELR                                             0.0
           QLVAEQVTYQR                                         10006.0
           TSIHEAMEQQSISISK                                        0.0
           VAVGELTDEDVK                                            0.0

                                                                  rep6
Gene Names Sequence
MCM2       DTVDPVQDEMLAR                                           0.0
           ESLVVNYEDLAAR                                       17319.0
           ESMATGSIPITVR                                           0.0
           FDILC[Common Fixed:Carbamidomethyl on C]VVR         12987.0
           GDINVLLC[Common Fixed:Carbamidomethyl on C]GDPGTAK  14798.0
           GVC[Common Fixed:Carbamidomethyl on C]LIDEFDK       14254.0
           IFASIAPSIYGHEDIK                                    10819.0
           ISHLPLVEELR                                             0.0
           QLVAEQVTYQR                                             0.0
           TSIHEAMEQQSISISK                                        0.0
           VAVGELTDEDVK                                         7416.0

In [35]:
expdf[expdf.index.get_level_values('Gene Names') == 'MAT2B']

                             rep1     rep2     rep3     rep4     rep5     rep6
Gene Names Sequence
MAT2B      AVLENNLGAAVLR  11730.0  10764.0  15951.0  15293.0  11412.0   6689.0
           IPILYGEVEK      6981.0   5787.0   7265.0   4796.0      0.0      0.0
           LETLGIGQR      10764.0   7251.0      0.0      0.0  12132.0      0.0
           VLVTGATGLLGR   10106.0   7968.0  15353.0  14189.0  12092.0  17334.0

In [36]:
expdf[expdf.index.get_level_values('Gene Names') == 'MAPRE1']

                                  rep1     rep2     rep3     rep4     rep5  \
Gene Names Sequence
MAPRE1     DYDPVAAR             8758.0   7126.0      0.0      0.0      0.0
           FFDANYDGK           15162.0  13811.0  12944.0      0.0  13374.0
           KPLTSSSAAPQRPISTQR   5187.0   5308.0      0.0   5944.0      0.0
           LEHEYIQNFK          15405.0  14378.0  11360.0   8950.0  10358.0
           LTVEDLEK            14893.0  19650.0   7749.0   6687.0  25358.0
           QGQETAVAPSLVAPALNK      0.0      0.0  20257.0  15620.0  10493.0

                                  rep6
Gene Names Sequence
MAPRE1     DYDPVAAR                0.0
           FFDANYDGK           14003.0
           KPLTSSSAAPQRPISTQR      0.0
           LEHEYIQNFK          14359.0
           LTVEDLEK             8382.0
           QGQETAVAPSLVAPALNK   9761.0

In [37]:
expdf[expdf.index.get_level_values('Gene Names') == 'LPCAT1']

                                                              rep1    rep2  \
Gene Names Sequence
LPCAT1     LPADTC[Common Fixed:Carbamidomethyl on C]LLEFAR  5172.0  5384.0
           TLDTIQLAFK                                       4513.0  4947.0

                                                               rep3     rep4  \
Gene Names Sequence
LPCAT1     LPADTC[Common Fixed:Carbamidomethyl on C]LLEFAR   8502.0  11575.0
           TLDTIQLAFK                                       10073.0   6504.0

                                                              rep5    rep6
Gene Names Sequence
LPCAT1     LPADTC[Common Fixed:Carbamidomethyl on C]LLEFAR  6048.0  9121.0
           TLDTIQLAFK                                       8240.0  8596.0

In [38]:
expdf[expdf.index.get_level_values('Gene Names') == 'LMAN1']

                                                           rep1     rep2  \
Gene Names Sequence
LMAN1      NDYEFC[Common Fixed:Carbamidomethyl on C]AK   5504.0   9609.0
           QVFEGQNR                                     12665.0  14315.0
           RDIDNLVQR                                    17198.0  16626.0
           YQEEFEHFQQELDK                               10547.0   6270.0
           YVSSLTEEISK                                  16750.0  16755.0

                                                           rep3     rep4  \
Gene Names Sequence
LMAN1      NDYEFC[Common Fixed:Carbamidomethyl on C]AK      0.0      0.0
           QVFEGQNR                                         0.0  10989.0
           RDIDNLVQR                                    10187.0  13039.0
           YQEEFEHFQQELDK                                   0.0      0.0
           YVSSLTEEISK                                  18273.0  20640.0

                                                           rep5     rep6
Gene Names Sequence
LMAN1      NDYEFC[Common Fixed:Carbamidomethyl on C]AK   4702.0      0.0
           QVFEGQNR                                      6796.0      0.0
           RDIDNLVQR                                    11373.0  14124.0
           YQEEFEHFQQELDK                                7933.0   8565.0
           YVSSLTEEISK                                  23051.0  16190.0

In [39]:
expdf[expdf.index.get_level_values('Gene Names') == 'KRT10']

                                                                  rep1  \
Gene Names Sequence
KRT10      ALEESNYELEGK                                        13912.0
           GSLGGGFSSGGFSGGSFSR                                  9395.0
           QSLEASLAETEGR                                       10642.0
           QSVEADINGLR                                          4836.0
           SGGGGGGGGC[Common Fixed:Carbamidomethyl on C]GG...   9994.0
           SLLEGEGSSGGGGR                                      14591.0
           SQYEQLAEQNRK                                         8848.0
           VLDELTLTK                                           13656.0
           YENEVALR                                            11978.0

                                                                  rep2  \
Gene Names Sequence
KRT10      ALEESNYELEGK                                        11658.0
           GSLGGGFSSGGFSGGSFSR                                  9874.0
           QSLEASLAETEGR                                       17997.0
           QSVEADINGLR                                             0.0
           SGGGGGGGGC[Common Fixed:Carbamidomethyl on C]GG...  13143.0
           SLLEGEGSSGGGGR                                      14222.0
           SQYEQLAEQNRK                                         8150.0
           VLDELTLTK                                           15562.0
           YENEVALR                                            13568.0

                                                                  rep3  \
Gene Names Sequence
KRT10      ALEESNYELEGK                                            0.0
           GSLGGGFSSGGFSGGSFSR                                 14047.0
           QSLEASLAETEGR                                           0.0
           QSVEADINGLR                                         10135.0
           SGGGGGGGGC[Common Fixed:Carbamidomethyl on C]GG...      0.0
           SLLEGEGSSGGGGR                                       8400.0
           SQYEQLAEQNRK                                            0.0
           VLDELTLTK                                           15744.0
           YENEVALR                                                0.0

                                                                  rep4  \
Gene Names Sequence
KRT10      ALEESNYELEGK                                            0.0
           GSLGGGFSSGGFSGGSFSR                                 13378.0
           QSLEASLAETEGR                                        6074.0
           QSVEADINGLR                                          9837.0
           SGGGGGGGGC[Common Fixed:Carbamidomethyl on C]GG...  10212.0
           SLLEGEGSSGGGGR                                      11449.0
           SQYEQLAEQNRK                                         5642.0
           VLDELTLTK                                           16373.0
           YENEVALR                                                0.0

                                                                  rep5  \
Gene Names Sequence
KRT10      ALEESNYELEGK                                        10393.0
           GSLGGGFSSGGFSGGSFSR                                 11692.0
           QSLEASLAETEGR                                       20405.0
           QSVEADINGLR                                         10601.0
           SGGGGGGGGC[Common Fixed:Carbamidomethyl on C]GG...   6050.0
           SLLEGEGSSGGGGR                                      10460.0
           SQYEQLAEQNRK                                            0.0
           VLDELTLTK                                           20682.0
           YENEVALR                                             8333.0

                                                                  rep6
Gene Names Sequence
KRT10      ALEESNYELEGK                                        11299.0
           GSLGGGFSSGGFSGGSFSR                                 16101.0
           QSLEASLAETEGR                                           0.0
           QSVEADINGLR                                             0.0
           SGGGGGGGGC[Common Fixed:Carbamidomethyl on C]GG...   9886.0
           SLLEGEGSSGGGGR                                          0.0
           SQYEQLAEQNRK                                            0.0
           VLDELTLTK                                           11615.0
           YENEVALR                                            10857.0

In [40]:
expdf[expdf.index.get_level_values('Gene Names') == 'IMMT']

                                 rep1     rep2     rep3     rep4     rep5  \
Gene Names Sequence
IMMT       AAMDNSEIAGEK        8785.0   9122.0      0.0      0.0      0.0
           AVDEAADALLK        13152.0  11382.0   4252.0   5829.0  19834.0
           GIEQAVQSHAVAEEEAR   8339.0   8553.0      0.0      0.0  14590.0
           GVYSEETLR          12270.0  11301.0      0.0   8502.0   7528.0
           LSEQELQFR          24133.0  18240.0  17428.0  18833.0  20538.0
           LSTDDLNSLIAHAHR        0.0      0.0   6501.0      0.0      0.0
           SEFEQNLSEK         11468.0  14280.0      0.0      0.0   9564.0
           SEIQAEQDRK         10976.0   8598.0      0.0      0.0      0.0
           SIQSGPLK            8458.0  11749.0  10104.0      0.0   7546.0
           VAMIDETR           11673.0   8324.0      0.0      0.0   6434.0
           VVSQYHELVVQAR      11624.0   9237.0  15392.0  17072.0  11444.0

                                 rep6
Gene Names Sequence
IMMT       AAMDNSEIAGEK           0.0
           AVDEAADALLK        15017.0
           GIEQAVQSHAVAEEEAR   7441.0
           GVYSEETLR              0.0
           LSEQELQFR              0.0
           LSTDDLNSLIAHAHR        0.0
           SEFEQNLSEK          6665.0
           SEIQAEQDRK             0.0
           SIQSGPLK           11545.0
           VAMIDETR               0.0
           VVSQYHELVVQAR      10339.0

In [41]:
expdf[expdf.index.get_level_values('Gene Names') == 'HM13']

                              rep1     rep2     rep3     rep4     rep5  \
Gene Names Sequence
HM13       DPAAVTESK       14082.0  15804.0   9141.0  10907.0      0.0
           EEIINYEFDTK     10162.0   7410.0      0.0      0.0      0.0
           NASDMPETITSR    20348.0  12608.0  13690.0  10921.0  13642.0
           QYQLLFTQGSGENK   9068.0   7184.0  10008.0  17976.0   9753.0

                              rep6
Gene Names Sequence
HM13       DPAAVTESK        7692.0
           EEIINYEFDTK         0.0
           NASDMPETITSR    11917.0
           QYQLLFTQGSGENK  13397.0

In [42]:
expdf[expdf.index.get_level_values('Gene Names') == 'HINT1']

                                                            rep1     rep2  \
Gene Names Sequence
HINT1      AQVARPGGDTIFGK                                10833.0  11194.0
           C[Common Fixed:Carbamidomethyl on C]AADLGLNK  23557.0  21814.0
           PGGDTIFGK                                     43112.0  44153.0

                                                            rep3     rep4  \
Gene Names Sequence
HINT1      AQVARPGGDTIFGK                                 9746.0   9779.0
           C[Common Fixed:Carbamidomethyl on C]AADLGLNK  14733.0  13186.0
           PGGDTIFGK                                         0.0      0.0

                                                            rep5     rep6
Gene Names Sequence
HINT1      AQVARPGGDTIFGK                                12794.0  12799.0
           C[Common Fixed:Carbamidomethyl on C]AADLGLNK  13426.0  14659.0
           PGGDTIFGK                                     35840.0  41637.0

In [43]:
expdf[expdf.index.get_level_values('Gene Names') == 'GTF2I']

                                                                rep1     rep2  \
Gene Names Sequence
GTF2I      DQSAVVVQGLPEGVAFK                                     0.0      0.0
           EQVNDLFSR                                          5782.0   8141.0
           FAEALGSTEAK                                       11678.0  14865.0
           FAQALGLTEAVK                                       8143.0  10645.0
           ILDSAEFIK                                          8279.0   7528.0
           QVEEIFNLK                                             0.0      0.0
           QVEELFER                                           7961.0  10930.0
           SILSPGGSC[Common Fixed:Carbamidomethyl on C]GPIK   5159.0      0.0

                                                                rep3     rep4  \
Gene Names Sequence
GTF2I      DQSAVVVQGLPEGVAFK                                     0.0      0.0
           EQVNDLFSR                                             0.0      0.0
           FAEALGSTEAK                                        7517.0   7199.0
           FAQALGLTEAVK                                      14944.0  15216.0
           ILDSAEFIK                                          7711.0      0.0
           QVEEIFNLK                                          6221.0   9551.0
           QVEELFER                                              0.0      0.0
           SILSPGGSC[Common Fixed:Carbamidomethyl on C]GPIK  10165.0  10855.0

                                                                rep5     rep6
Gene Names Sequence
GTF2I      DQSAVVVQGLPEGVAFK                                     0.0  17138.0
           EQVNDLFSR                                         11957.0      0.0
           FAEALGSTEAK                                       10159.0   5515.0
           FAQALGLTEAVK                                      12837.0  23549.0
           ILDSAEFIK                                         10918.0  20759.0
           QVEEIFNLK                                             0.0      0.0
           QVEELFER                                              0.0      0.0
           SILSPGGSC[Common Fixed:Carbamidomethyl on C]GPIK  10941.0      0.0

In [44]:
expdf[expdf.index.get_level_values('Gene Names') == 'GNL3']

                                                                 rep1  \
Gene Names Sequence
GNL3       C[Common Fixed:Carbamidomethyl on C]PQVEEAIVQSGQK   6982.0
           ELPTVVFR                                           12743.0
           LLGGFQETC[Common Fixed:Carbamidomethyl on C]SK     11067.0
           SGFNLEELEK                                         12722.0
           SPASIEVVK                                           7535.0
           VGVIGFPNVGK                                         6905.0

                                                                 rep2  \
Gene Names Sequence
GNL3       C[Common Fixed:Carbamidomethyl on C]PQVEEAIVQSGQK      0.0
           ELPTVVFR                                           10952.0
           LLGGFQETC[Common Fixed:Carbamidomethyl on C]SK     10078.0
           SGFNLEELEK                                          8996.0
           SPASIEVVK                                           5856.0
           VGVIGFPNVGK                                         4512.0

                                                                 rep3  \
Gene Names Sequence
GNL3       C[Common Fixed:Carbamidomethyl on C]PQVEEAIVQSGQK   9691.0
           ELPTVVFR                                            9834.0
           LLGGFQETC[Common Fixed:Carbamidomethyl on C]SK     13654.0
           SGFNLEELEK                                             0.0
           SPASIEVVK                                              0.0
           VGVIGFPNVGK                                            0.0

                                                                 rep4  \
Gene Names Sequence
GNL3       C[Common Fixed:Carbamidomethyl on C]PQVEEAIVQSGQK  10216.0
           ELPTVVFR                                           13013.0
           LLGGFQETC[Common Fixed:Carbamidomethyl on C]SK     11834.0
           SGFNLEELEK                                             0.0
           SPASIEVVK                                           6057.0
           VGVIGFPNVGK                                            0.0

                                                                 rep5     rep6
Gene Names Sequence
GNL3       C[Common Fixed:Carbamidomethyl on C]PQVEEAIVQSGQK  10401.0      0.0
           ELPTVVFR                                           13331.0  14183.0
           LLGGFQETC[Common Fixed:Carbamidomethyl on C]SK     13734.0  14506.0
           SGFNLEELEK                                             0.0   9200.0
           SPASIEVVK                                              0.0      0.0
           VGVIGFPNVGK                                         8648.0   9382.0

In [45]:
expdf[expdf.index.get_level_values('Gene Names') == 'GLOD4']

                                                              rep1     rep2  \
Gene Names Sequence
GLOD4      ALLGYADNQC[Common Fixed:Carbamidomethyl on C]K  11840.0  10076.0
           ILTPLVSLDTPGK                                   11201.0  13279.0
           VTLAVSDLQK                                      12328.0  13121.0

                                                              rep3     rep4  \
Gene Names Sequence
GLOD4      ALLGYADNQC[Common Fixed:Carbamidomethyl on C]K   9533.0   4655.0
           ILTPLVSLDTPGK                                   19092.0  18836.0
           VTLAVSDLQK                                      14042.0  13486.0

                                                              rep5     rep6
Gene Names Sequence
GLOD4      ALLGYADNQC[Common Fixed:Carbamidomethyl on C]K   9951.0   7599.0
           ILTPLVSLDTPGK                                   16462.0  23637.0
           VTLAVSDLQK                                      18174.0      0.0

In [46]:
expdf[expdf.index.get_level_values('Gene Names') == 'FKBP3']

                               rep1     rep2     rep3     rep4     rep5  \
Gene Names Sequence
FKBP3      AWTVEQLR         11386.0  10032.0   8669.0   8032.0  11751.0
           DHLVTAYNHLFETK   12009.0   9687.0  16395.0  26423.0  13675.0
           FLQEHGSDSFLAEHK  26837.0  28048.0  28133.0  24214.0  19442.0
           SEETLDEGPPK      23928.0  31271.0      0.0      0.0  11348.0

                               rep6
Gene Names Sequence
FKBP3      AWTVEQLR             0.0
           DHLVTAYNHLFETK   14580.0
           FLQEHGSDSFLAEHK  16542.0
           SEETLDEGPPK      15276.0

In [47]:
expdf[expdf.index.get_level_values('Gene Names') == 'FDPS']

                                                                  rep1  \
Gene Names Sequence
FDPS       ATPEQYQILK                                          20077.0
           EVLEYNAIGGK                                         12675.0
           IGTDIQDNK                                           14824.0
           QDFVQHFSQIVR                                        24261.0
           VLTEDEMGHPEIGDAIAR                                  21029.0
           VLTEDEM[Common Variable:Oxidation on M]GHPEIGDAIAR   7899.0

                                                                  rep2  \
Gene Names Sequence
FDPS       ATPEQYQILK                                          23405.0
           EVLEYNAIGGK                                         12809.0
           IGTDIQDNK                                           15853.0
           QDFVQHFSQIVR                                        18121.0
           VLTEDEMGHPEIGDAIAR                                  15809.0
           VLTEDEM[Common Variable:Oxidation on M]GHPEIGDAIAR  11496.0

                                                                  rep3  \
Gene Names Sequence
FDPS       ATPEQYQILK                                          36482.0
           EVLEYNAIGGK                                          6386.0
           IGTDIQDNK                                               0.0
           QDFVQHFSQIVR                                        21893.0
           VLTEDEMGHPEIGDAIAR                                      0.0
           VLTEDEM[Common Variable:Oxidation on M]GHPEIGDAIAR      0.0

                                                                  rep4  \
Gene Names Sequence
FDPS       ATPEQYQILK                                          32483.0
           EVLEYNAIGGK                                          8385.0
           IGTDIQDNK                                               0.0
           QDFVQHFSQIVR                                        22942.0
           VLTEDEMGHPEIGDAIAR                                      0.0
           VLTEDEM[Common Variable:Oxidation on M]GHPEIGDAIAR      0.0

                                                                  rep5  \
Gene Names Sequence
FDPS       ATPEQYQILK                                          29992.0
           EVLEYNAIGGK                                         31038.0
           IGTDIQDNK                                            7307.0
           QDFVQHFSQIVR                                        18947.0
           VLTEDEMGHPEIGDAIAR                                  15003.0
           VLTEDEM[Common Variable:Oxidation on M]GHPEIGDAIAR      0.0

                                                                  rep6
Gene Names Sequence
FDPS       ATPEQYQILK                                          23183.0
           EVLEYNAIGGK                                             0.0
           IGTDIQDNK                                               0.0
           QDFVQHFSQIVR                                        29629.0
           VLTEDEMGHPEIGDAIAR                                      0.0
           VLTEDEM[Common Variable:Oxidation on M]GHPEIGDAIAR      0.0

In [48]:
expdf[expdf.index.get_level_values('Gene Names') == 'FARSB']

                                                               rep1    rep2  \
Gene Names Sequence
FARSB      AAGASDVVLYK                                       7727.0  6274.0
           ASEGPAFFPGR                                       6031.0  9572.0
           LFEISDIVIK                                        9080.0  4749.0
           NIFIEC[Common Fixed:Carbamidomethyl on C]TGTDFTK  9148.0  5826.0
           TAEFQVAR                                          8113.0  7530.0
           TTLLPGLLK                                         6698.0  6210.0
           TYTIANQFPLNK                                      5965.0  5019.0

                                                               rep3     rep4  \
Gene Names Sequence
FARSB      AAGASDVVLYK                                       7180.0      0.0
           ASEGPAFFPGR                                       7408.0  11442.0
           LFEISDIVIK                                           0.0      0.0
           NIFIEC[Common Fixed:Carbamidomethyl on C]TGTDFTK  9004.0  10241.0
           TAEFQVAR                                             0.0      0.0
           TTLLPGLLK                                            0.0      0.0
           TYTIANQFPLNK                                      7714.0   8148.0

                                                               rep5     rep6
Gene Names Sequence
FARSB      AAGASDVVLYK                                       5986.0      0.0
           ASEGPAFFPGR                                       8632.0   8785.0
           LFEISDIVIK                                        6755.0   6068.0
           NIFIEC[Common Fixed:Carbamidomethyl on C]TGTDFTK  7064.0  12728.0
           TAEFQVAR                                          4573.0      0.0
           TTLLPGLLK                                         7827.0   7167.0
           TYTIANQFPLNK                                         0.0   9397.0

In [49]:
expdf[expdf.index.get_level_values('Gene Names') == 'ELOB']

                                                                rep1     rep2  \
Gene Names Sequence
ELOB       DDQLLDDGK                                          6558.0   9416.0
           ESSTVFELK                                         10989.0  11935.0
           PQAPATVGLAFR                                      14001.0  13855.0
           TLGEC[Common Fixed:Carbamidomethyl on C]GFTSQTAR  11835.0  12116.0
           TTIFTDAK                                          11522.0  12042.0

                                                                rep3     rep4  \
Gene Names Sequence
ELOB       DDQLLDDGK                                             0.0      0.0
           ESSTVFELK                                             0.0      0.0
           PQAPATVGLAFR                                      21388.0  21943.0
           TLGEC[Common Fixed:Carbamidomethyl on C]GFTSQTAR  18932.0  15571.0
           TTIFTDAK                                           4886.0      0.0

                                                                rep5     rep6
Gene Names Sequence
ELOB       DDQLLDDGK                                             0.0      0.0
           ESSTVFELK                                         16177.0  22361.0
           PQAPATVGLAFR                                      19153.0  20178.0
           TLGEC[Common Fixed:Carbamidomethyl on C]GFTSQTAR  15080.0  15648.0
           TTIFTDAK                                           9764.0   6894.0

In [50]:
expdf[expdf.index.get_level_values('Gene Names') == 'EIF6']

                                                                  rep1  \
Gene Names Sequence
EIF6       ASFENNC[Common Fixed:Carbamidomethyl on C]EIGC[...  29976.0
           LNEAQPSTIATSMR                                      27946.0
           NSLPDTVQIR                                          19660.0

                                                                  rep2  \
Gene Names Sequence
EIF6       ASFENNC[Common Fixed:Carbamidomethyl on C]EIGC[...  28246.0
           LNEAQPSTIATSMR                                      22001.0
           NSLPDTVQIR                                          21841.0

                                                                  rep3  \
Gene Names Sequence
EIF6       ASFENNC[Common Fixed:Carbamidomethyl on C]EIGC[...  31803.0
           LNEAQPSTIATSMR                                      42157.0
           NSLPDTVQIR                                              0.0

                                                                  rep4  \
Gene Names Sequence
EIF6       ASFENNC[Common Fixed:Carbamidomethyl on C]EIGC[...  33726.0
           LNEAQPSTIATSMR                                      39799.0
           NSLPDTVQIR                                              0.0

                                                                  rep5  \
Gene Names Sequence
EIF6       ASFENNC[Common Fixed:Carbamidomethyl on C]EIGC[...  32977.0
           LNEAQPSTIATSMR                                      44775.0
           NSLPDTVQIR                                          29369.0

                                                                  rep6
Gene Names Sequence
EIF6       ASFENNC[Common Fixed:Carbamidomethyl on C]EIGC[...  26642.0
           LNEAQPSTIATSMR                                      29120.0
           NSLPDTVQIR                                          18926.0

In [51]:
expdf[expdf.index.get_level_values('Gene Names') == 'EIF3G']

                                                           rep1     rep2  \
Gene Names Sequence
EIF3G      C[Common Fixed:Carbamidomethyl on C]VTSELLK  18396.0  15832.0
           ELAEQLGLSTGEK                                17753.0  17803.0
           EVINGNIK                                         0.0  17989.0
           LPGELEPVQATQNK                               19965.0  17716.0
           PTGDFDSK                                     10908.0  10523.0
           VTNLSEDTR                                    23815.0  29514.0

                                                           rep3     rep4  \
Gene Names Sequence
EIF3G      C[Common Fixed:Carbamidomethyl on C]VTSELLK  14068.0   9562.0
           ELAEQLGLSTGEK                                    0.0      0.0
           EVINGNIK                                     13803.0      0.0
           LPGELEPVQATQNK                               22455.0  29178.0
           PTGDFDSK                                         0.0   7365.0
           VTNLSEDTR                                    12937.0  12710.0

                                                           rep5     rep6
Gene Names Sequence
EIF3G      C[Common Fixed:Carbamidomethyl on C]VTSELLK  13913.0      0.0
           ELAEQLGLSTGEK                                22506.0  11963.0
           EVINGNIK                                     12131.0  17054.0
           LPGELEPVQATQNK                               21963.0  15208.0
           PTGDFDSK                                         0.0      0.0
           VTNLSEDTR                                    10793.0   8943.0

In [52]:
expdf[expdf.index.get_level_values('Gene Names') == 'EIF3D']

                              rep1     rep2     rep3     rep4     rep5  \
Gene Names Sequence
EIF3D      GAVIATELK        8818.0  10830.0      0.0      0.0  10192.0
           IFHTVTTTDDPVIR  14724.0  11793.0  22577.0  20478.0  17042.0
           LGDDIDLIVR       8660.0   6947.0      0.0      0.0   8370.0
           NEIASVAYR        9472.0  10014.0   8152.0   9147.0   7670.0

                              rep6
Gene Names Sequence
EIF3D      GAVIATELK        8415.0
           IFHTVTTTDDPVIR   8971.0
           LGDDIDLIVR      14576.0
           NEIASVAYR        8807.0

In [53]:
expdf[expdf.index.get_level_values('Gene Names') == 'EFTUD2']

                                  rep1     rep2     rep3     rep4     rep5  \
Gene Names Sequence
EFTUD2     GHVTQDAPIPGSPLYTIK   6198.0   5348.0   9718.0  11310.0   8389.0
           GLSEDVSISK           8947.0  11408.0   5251.0   8046.0   8900.0
           IAVEPVNPSELPK        7386.0   8258.0  11681.0  12799.0  10145.0
           ILDAVVAQEPLHR       14232.0  14757.0  13753.0  17665.0  13038.0
           ITMIAEPLEK           8316.0   8340.0      0.0   9478.0   8274.0
           TLDELGIHLTK          8265.0   6086.0  11191.0   9731.0  12517.0
           VLSGTIHAGQPVK        9107.0  11530.0   9621.0   4519.0   6020.0

                                  rep6
Gene Names Sequence
EFTUD2     GHVTQDAPIPGSPLYTIK      0.0
           GLSEDVSISK              0.0
           IAVEPVNPSELPK           0.0
           ILDAVVAQEPLHR           0.0
           ITMIAEPLEK              0.0
           TLDELGIHLTK         10455.0
           VLSGTIHAGQPVK        9207.0

In [54]:
expdf[expdf.index.get_level_values('Gene Names') == 'DLST']

                              rep1     rep2     rep3     rep4     rep5  \
Gene Names Sequence
DLST       AKPAEAPAAAAPK    8547.0   7868.0   6803.0   6145.0   3366.0
           GLVVPVIR        10295.0  10219.0      0.0      0.0   7518.0
           NVEAMNFADIER    10903.0  11769.0      0.0      0.0  10918.0
           TPAFAESVTEGDVR  12355.0  13873.0      0.0      0.0  18530.0
           VEGGTPLFTLR     10876.0  12764.0  16222.0  17090.0  15555.0

                              rep6
Gene Names Sequence
DLST       AKPAEAPAAAAPK    4380.0
           GLVVPVIR        12544.0
           NVEAMNFADIER     7146.0
           TPAFAESVTEGDVR  13437.0
           VEGGTPLFTLR     22395.0

In [55]:
expdf[expdf.index.get_level_values('Gene Names') == 'DDX39B']

                                                               rep1     rep2  \
Gene Names Sequence
DDX39B     HFILDEC[Common Fixed:Carbamidomethyl on C]DK     11199.0   8915.0
           NC[Common Fixed:Carbamidomethyl on C]PHIVVGTPGR  12941.0  14756.0
           VAVFFGGLSIK                                      14161.0  12806.0

                                                               rep3     rep4  \
Gene Names Sequence
DDX39B     HFILDEC[Common Fixed:Carbamidomethyl on C]DK      9062.0      0.0
           NC[Common Fixed:Carbamidomethyl on C]PHIVVGTPGR  14639.0  15459.0
           VAVFFGGLSIK                                      15401.0  11033.0

                                                               rep5     rep6
Gene Names Sequence
DDX39B     HFILDEC[Common Fixed:Carbamidomethyl on C]DK     10048.0   7420.0
           NC[Common Fixed:Carbamidomethyl on C]PHIVVGTPGR   9603.0   9853.0
           VAVFFGGLSIK                                      13587.0  10698.0

In [56]:
expdf[expdf.index.get_level_values('Gene Names') == 'CRIP1']

                                                                  rep1  \
Gene Names Sequence
CRIP1      PYC[Common Fixed:Carbamidomethyl on C]NHPC[Comm...  55088.0
           PYC[Common Fixed:Carbamidomethyl on C]NHPC[Comm...  14778.0
           TLTSGGHAEHEGK                                       11456.0

                                                                  rep2  \
Gene Names Sequence
CRIP1      PYC[Common Fixed:Carbamidomethyl on C]NHPC[Comm...  57969.0
           PYC[Common Fixed:Carbamidomethyl on C]NHPC[Comm...  18976.0
           TLTSGGHAEHEGK                                       10125.0

                                                                  rep3  \
Gene Names Sequence
CRIP1      PYC[Common Fixed:Carbamidomethyl on C]NHPC[Comm...  63297.0
           PYC[Common Fixed:Carbamidomethyl on C]NHPC[Comm...  16274.0
           TLTSGGHAEHEGK                                           0.0

                                                                  rep4  \
Gene Names Sequence
CRIP1      PYC[Common Fixed:Carbamidomethyl on C]NHPC[Comm...  61881.0
           PYC[Common Fixed:Carbamidomethyl on C]NHPC[Comm...  17074.0
           TLTSGGHAEHEGK                                           0.0

                                                                  rep5  \
Gene Names Sequence
CRIP1      PYC[Common Fixed:Carbamidomethyl on C]NHPC[Comm...  61600.0
           PYC[Common Fixed:Carbamidomethyl on C]NHPC[Comm...  15157.0
           TLTSGGHAEHEGK                                           0.0

                                                                  rep6
Gene Names Sequence
CRIP1      PYC[Common Fixed:Carbamidomethyl on C]NHPC[Comm...  52057.0
           PYC[Common Fixed:Carbamidomethyl on C]NHPC[Comm...  15429.0
           TLTSGGHAEHEGK                                           0.0

In [57]:
expdf[expdf.index.get_level_values('Gene Names') == 'CPNE3']

                                                               rep1     rep2  \
Gene Names Sequence
CPNE3      DIVQFVPFR                                         7704.0  10377.0
           GSITISAEEIK                                       5249.0   7479.0
           VALNVSC[Common Fixed:Carbamidomethyl on C]ANLLDK  8624.0  10240.0
           VVLFEMEAR                                         5171.0   4406.0

                                                                rep3     rep4  \
Gene Names Sequence
CPNE3      DIVQFVPFR                                          7799.0  10483.0
           GSITISAEEIK                                           0.0   8504.0
           VALNVSC[Common Fixed:Carbamidomethyl on C]ANLLDK  18990.0  20940.0
           VVLFEMEAR                                             0.0      0.0

                                                                rep5     rep6
Gene Names Sequence
CPNE3      DIVQFVPFR                                          9322.0  12679.0
           GSITISAEEIK                                           0.0      0.0
           VALNVSC[Common Fixed:Carbamidomethyl on C]ANLLDK  13405.0  10711.0
           VVLFEMEAR                                          5484.0   8200.0

In [58]:
expdf[expdf.index.get_level_values('Gene Names') == 'COX5A']

                               rep1     rep2     rep3     rep4     rep5  \
Gene Names Sequence
COX5A      GINTLVTYDMVPEPK  12759.0   9062.0  18737.0  14202.0  11661.0
           LNDFASTVR        44146.0  40740.0  39486.0  35962.0  49107.0

                               rep6
Gene Names Sequence
COX5A      GINTLVTYDMVPEPK  17593.0
           LNDFASTVR        45787.0

In [59]:
expdf[expdf.index.get_level_values('Gene Names') == 'CORO1C']

                                                             rep1     rep2  \
Gene Names Sequence
CORO1C     C[Common Fixed:Carbamidomethyl on C]EPIIMTVPR   4599.0   4253.0
           HVFGQAVK                                        8871.0  10913.0
           NADPILISLK                                     14143.0  13767.0
           TTDTASVQNEAK                                   16007.0  15114.0

                                                             rep3     rep4  \
Gene Names Sequence
CORO1C     C[Common Fixed:Carbamidomethyl on C]EPIIMTVPR   9892.0   8624.0
           HVFGQAVK                                        8537.0  12167.0
           NADPILISLK                                     17414.0  15912.0
           TTDTASVQNEAK                                   10575.0  12788.0

                                                             rep5     rep6
Gene Names Sequence
CORO1C     C[Common Fixed:Carbamidomethyl on C]EPIIMTVPR      0.0  12745.0
           HVFGQAVK                                           0.0   5639.0
           NADPILISLK                                     14755.0  14125.0
           TTDTASVQNEAK                                    7668.0  11114.0

In [60]:
expdf[expdf.index.get_level_values('Gene Names') == 'COPG1']

                           rep1    rep2     rep3     rep4    rep5    rep6
Gene Names Sequence
COPG1      EETFTLSTIK    5837.0  4101.0   7669.0  10633.0  6964.0  9119.0
           TLEEAVGNIVK  10066.0  5082.0  11204.0  14609.0  9185.0  6024.0

In [61]:
expdf[expdf.index.get_level_values('Gene Names') == 'CMBL']

                            rep1     rep2     rep3     rep4     rep5     rep6
Gene Names Sequence
CMBL       DSEDIYNLK      7732.0   6175.0      0.0      0.0      0.0      0.0
           DVSLLTQK      10734.0   9812.0   7289.0   8228.0  10780.0   5289.0
           EVQVEHIK      11542.0  12890.0  10761.0  13667.0   7673.0      0.0
           LEYGGLGR      14067.0  13794.0   9058.0  13020.0  10754.0  11606.0
           NLIEWLNK       5828.0      0.0      0.0      0.0      0.0      0.0
           TFSGQTHGFVHR   7766.0  11977.0   4481.0   4853.0      0.0      0.0

In [62]:
expdf[expdf.index.get_level_values('Gene Names') == 'CKB']

                                rep1     rep2     rep3     rep4     rep5  \
Gene Names Sequence
CKB        DLFDPIIEDR         8862.0  11450.0      0.0      0.0      0.0
           LAVEALSSLDGDLAGR   4508.0      0.0      0.0      0.0      0.0
           LLIEMEQR          12073.0  11546.0      0.0   7250.0  13858.0
           PVSPLLLASGMAR     10008.0   8714.0  15489.0  15926.0  14749.0
           VLTPELYAELR       16120.0  18038.0  15806.0  18361.0  22482.0

                                rep6
Gene Names Sequence
CKB        DLFDPIIEDR            0.0
           LAVEALSSLDGDLAGR   9199.0
           LLIEMEQR              0.0
           PVSPLLLASGMAR     16007.0
           VLTPELYAELR       26620.0

In [63]:
expdf[expdf.index.get_level_values('Gene Names') == 'CHCHD3']

                                                                rep1     rep2  \
Gene Names Sequence
CHCHD3     AAANEQLTR                                          9526.0  13716.0
           LSENVIDR                                          11166.0  12616.0
           VAEELALEQAK                                       14433.0  18176.0
           VTTEQYQK                                           9338.0  12804.0
           YESHPVC[Common Fixed:Carbamidomethyl on C]ADLQAK   6637.0   9155.0
           YSGAYGASVSDEELK                                   14418.0  11972.0

                                                                rep3     rep4  \
Gene Names Sequence
CHCHD3     AAANEQLTR                                             0.0      0.0
           LSENVIDR                                              0.0      0.0
           VAEELALEQAK                                       11253.0  12384.0
           VTTEQYQK                                           9005.0   7334.0
           YESHPVC[Common Fixed:Carbamidomethyl on C]ADLQAK      0.0   5492.0
           YSGAYGASVSDEELK                                       0.0      0.0

                                                                rep5     rep6
Gene Names Sequence
CHCHD3     AAANEQLTR                                             0.0      0.0
           LSENVIDR                                           7724.0  13100.0
           VAEELALEQAK                                       22812.0  18754.0
           VTTEQYQK                                           5658.0   9804.0
           YESHPVC[Common Fixed:Carbamidomethyl on C]ADLQAK   6297.0      0.0
           YSGAYGASVSDEELK                                   13531.0      0.0

In [64]:
expdf[expdf.index.get_level_values('Gene Names') == 'CAPN1']

                                                               rep1     rep2  \
Gene Names Sequence
CAPN1      APSDLYQIILK                                      12917.0  12610.0
           GQVVSLIR                                          6795.0   5335.0
           LEIC[Common Fixed:Carbamidomethyl on C]NLTPDALK  10308.0   9819.0
           RPTELLSNPQFIVDGATR                                5832.0   6585.0
           SEQFINLR                                         12759.0  10436.0
           YLGQDYEQLR                                       10404.0   9689.0

                                                               rep3     rep4  \
Gene Names Sequence
CAPN1      APSDLYQIILK                                      13297.0  13721.0
           GQVVSLIR                                          3322.0      0.0
           LEIC[Common Fixed:Carbamidomethyl on C]NLTPDALK      0.0      0.0
           RPTELLSNPQFIVDGATR                               14428.0  10110.0
           SEQFINLR                                             0.0      0.0
           YLGQDYEQLR                                        8076.0   7148.0

                                                               rep5     rep6
Gene Names Sequence
CAPN1      APSDLYQIILK                                      12570.0  13298.0
           GQVVSLIR                                          2864.0      0.0
           LEIC[Common Fixed:Carbamidomethyl on C]NLTPDALK   8474.0  13557.0
           RPTELLSNPQFIVDGATR                                   0.0  10813.0
           SEQFINLR                                         10958.0      0.0
           YLGQDYEQLR                                       11078.0   7872.0

In [65]:
expdf[expdf.index.get_level_values('Gene Names') == 'C3']

                                                              rep1     rep2  \
Gene Names Sequence
C3         AC[Common Fixed:Carbamidomethyl on C]EPGVDYVYK  14508.0  16019.0
           GYTQQLAFR                                       42171.0  41989.0
           NTLIIYLDK                                        8426.0   8766.0
           TIYTPGSTVLYR                                    18529.0  19042.0

                                                              rep3     rep4  \
Gene Names Sequence
C3         AC[Common Fixed:Carbamidomethyl on C]EPGVDYVYK  20497.0  22035.0
           GYTQQLAFR                                       41556.0  43728.0
           NTLIIYLDK                                           0.0      0.0
           TIYTPGSTVLYR                                    34122.0  33089.0

                                                              rep5     rep6
Gene Names Sequence
C3         AC[Common Fixed:Carbamidomethyl on C]EPGVDYVYK      0.0  19120.0
           GYTQQLAFR                                       56023.0  47853.0
           NTLIIYLDK                                        5204.0   6587.0
           TIYTPGSTVLYR                                    26637.0  13336.0

In [66]:
expdf[expdf.index.get_level_values('Gene Names') == 'BCAP31']

                           rep1     rep2     rep3     rep4     rep5     rep6
Gene Names Sequence
BCAP31     AENQVLAMR    44750.0  43831.0   8490.0  10957.0  61345.0  39710.0
           LDVGNAEVK    23396.0  27967.0  13520.0  13979.0  20155.0  26675.0
           LQAAVDGPMDK   9070.0  10925.0      0.0   3899.0  11361.0   7871.0

In [67]:
expdf[expdf.index.get_level_values('Gene Names') == 'BAG2']

                                                                 rep1  \
Gene Names Sequence
BAG2       EAATAVEQEK                                         15870.0
           FLDDLGNAK                                          11378.0
           FQSIVIGC[Common Fixed:Carbamidomethyl on C]ALEDQK  16184.0
           IIDEVVNK                                           13768.0
           LLESLDQLELR                                         6028.0
           NPQQQESLK                                           9280.0
           QISDGEREELNLTANR                                   70675.0
           TLQQNAESR                                          20218.0

                                                                 rep2  \
Gene Names Sequence
BAG2       EAATAVEQEK                                         14659.0
           FLDDLGNAK                                          10359.0
           FQSIVIGC[Common Fixed:Carbamidomethyl on C]ALEDQK  10987.0
           IIDEVVNK                                           15625.0
           LLESLDQLELR                                         4731.0
           NPQQQESLK                                          11420.0
           QISDGEREELNLTANR                                   38769.0
           TLQQNAESR                                          24179.0

                                                                 rep3  \
Gene Names Sequence
BAG2       EAATAVEQEK                                             0.0
           FLDDLGNAK                                           6523.0
           FQSIVIGC[Common Fixed:Carbamidomethyl on C]ALEDQK      0.0
           IIDEVVNK                                            7747.0
           LLESLDQLELR                                            0.0
           NPQQQESLK                                          13050.0
           QISDGEREELNLTANR                                       0.0
           TLQQNAESR                                          11317.0

                                                                 rep4  \
Gene Names Sequence
BAG2       EAATAVEQEK                                             0.0
           FLDDLGNAK                                           6288.0
           FQSIVIGC[Common Fixed:Carbamidomethyl on C]ALEDQK      0.0
           IIDEVVNK                                           10096.0
           LLESLDQLELR                                            0.0
           NPQQQESLK                                          10379.0
           QISDGEREELNLTANR                                       0.0
           TLQQNAESR                                          10680.0

                                                                 rep5     rep6
Gene Names Sequence
BAG2       EAATAVEQEK                                          6912.0      0.0
           FLDDLGNAK                                           8904.0   5970.0
           FQSIVIGC[Common Fixed:Carbamidomethyl on C]ALEDQK      0.0  19879.0
           IIDEVVNK                                           12424.0  10390.0
           LLESLDQLELR                                            0.0  10210.0
           NPQQQESLK                                              0.0   6864.0
           QISDGEREELNLTANR                                       0.0      0.0
           TLQQNAESR                                           6723.0      0.0

In [68]:
expdf[expdf.index.get_level_values('Gene Names') == 'APEX1']

                                                                rep1     rep2  \
Gene Names Sequence
APEX1      EAAGEGPALYEDPPDQK                                 18138.0  19320.0
           EEAPDILC[Common Fixed:Carbamidomethyl on C]LQETK  32043.0  31056.0
           EGYSGVGLLSR                                       13418.0  13593.0
           GAVAEDGDELR                                       11353.0  14373.0
           GAVAEDGDELRTEPEAK                                 12633.0  14410.0
           IC[Common Fixed:Carbamidomethyl on C]SWNVDGLR     16155.0  10527.0
           NAGFTPQER                                         19405.0  20826.0
           VSYGIGDEEHDQEGR                                   17085.0  16173.0

                                                                rep3     rep4  \
Gene Names Sequence
APEX1      EAAGEGPALYEDPPDQK                                     0.0      0.0
           EEAPDILC[Common Fixed:Carbamidomethyl on C]LQETK      0.0      0.0
           EGYSGVGLLSR                                       20293.0  18791.0
           GAVAEDGDELR                                           0.0      0.0
           GAVAEDGDELRTEPEAK                                     0.0      0.0
           IC[Common Fixed:Carbamidomethyl on C]SWNVDGLR     18636.0  16165.0
           NAGFTPQER                                         15931.0  17845.0
           VSYGIGDEEHDQEGR                                       0.0      0.0

                                                                rep5     rep6
Gene Names Sequence
APEX1      EAAGEGPALYEDPPDQK                                  5246.0      0.0
           EEAPDILC[Common Fixed:Carbamidomethyl on C]LQETK  23581.0  19968.0
           EGYSGVGLLSR                                       17143.0      0.0
           GAVAEDGDELR                                        4402.0      0.0
           GAVAEDGDELRTEPEAK                                  8867.0  10255.0
           IC[Common Fixed:Carbamidomethyl on C]SWNVDGLR     14905.0  19886.0
           NAGFTPQER                                         13292.0  15398.0
           VSYGIGDEEHDQEGR                                    4703.0      0.0

In [69]:
expdf[expdf.index.get_level_values('Gene Names') == 'AK1']

                            rep1     rep2     rep3     rep4     rep5     rep6
Gene Names Sequence
AK1        ATEPVIAFYEK   13412.0  15005.0  13214.0  14342.0  17402.0  23570.0
           EVQQGEEFER     8710.0  10288.0      0.0      0.0      0.0      0.0
           IIFVVGGPGSGK  13577.0  12448.0  20261.0  20383.0  19439.0  25945.0

In [70]:
expdf[expdf.index.get_level_values('Gene Names') == 'AIMP2']

                                                                rep1     rep2  \
Gene Names Sequence
AIMP2      AAVDGLSK                                           7416.0  11607.0
           SC[Common Fixed:Carbamidomethyl on C]ENLAPFNTALK  12729.0  13618.0
           SMNSALGK                                           8430.0   6116.0

                                                                rep3     rep4  \
Gene Names Sequence
AIMP2      AAVDGLSK                                           6590.0   5137.0
           SC[Common Fixed:Carbamidomethyl on C]ENLAPFNTALK  22772.0  20778.0
           SMNSALGK                                           5113.0      0.0

                                                                rep5     rep6
Gene Names Sequence
AIMP2      AAVDGLSK                                           3779.0   5280.0
           SC[Common Fixed:Carbamidomethyl on C]ENLAPFNTALK  19078.0  18115.0
           SMNSALGK                                              0.0      0.0

In [71]:
expdf[expdf.index.get_level_values('Gene Names') == 'ADH5']

                                                                  rep1  \
Gene Names Sequence
ADH5       AAVAWEAGK                                            6041.0
           IDPLAPLDK                                            7096.0
           IIGVDINK                                            13598.0
           LVSEYMSK                                             9183.0
           PLSIEEIEVAPPK                                       13768.0
           VC[Common Fixed:Carbamidomethyl on C]LLGC[Commo...      0.0
           VDEFVTHNLSFDEINK                                    15557.0

                                                                  rep2  \
Gene Names Sequence
ADH5       AAVAWEAGK                                            5884.0
           IDPLAPLDK                                            6143.0
           IIGVDINK                                            10923.0
           LVSEYMSK                                             8430.0
           PLSIEEIEVAPPK                                       13960.0
           VC[Common Fixed:Carbamidomethyl on C]LLGC[Commo...      0.0
           VDEFVTHNLSFDEINK                                     9904.0

                                                                  rep3  \
Gene Names Sequence
ADH5       AAVAWEAGK                                            3674.0
           IDPLAPLDK                                               0.0
           IIGVDINK                                            13446.0
           LVSEYMSK                                             4088.0
           PLSIEEIEVAPPK                                       11561.0
           VC[Common Fixed:Carbamidomethyl on C]LLGC[Commo...  16358.0
           VDEFVTHNLSFDEINK                                        0.0

                                                                  rep4  \
Gene Names Sequence
ADH5       AAVAWEAGK                                            4636.0
           IDPLAPLDK                                               0.0
           IIGVDINK                                            12525.0
           LVSEYMSK                                             7448.0
           PLSIEEIEVAPPK                                       11554.0
           VC[Common Fixed:Carbamidomethyl on C]LLGC[Commo...  14763.0
           VDEFVTHNLSFDEINK                                        0.0

                                                                  rep5  \
Gene Names Sequence
ADH5       AAVAWEAGK                                               0.0
           IDPLAPLDK                                            6805.0
           IIGVDINK                                            16976.0
           LVSEYMSK                                             4389.0
           PLSIEEIEVAPPK                                       16167.0
           VC[Common Fixed:Carbamidomethyl on C]LLGC[Commo...      0.0
           VDEFVTHNLSFDEINK                                        0.0

                                                                  rep6
Gene Names Sequence
ADH5       AAVAWEAGK                                               0.0
           IDPLAPLDK                                            7173.0
           IIGVDINK                                            11017.0
           LVSEYMSK                                                0.0
           PLSIEEIEVAPPK                                       21961.0
           VC[Common Fixed:Carbamidomethyl on C]LLGC[Commo...      0.0
           VDEFVTHNLSFDEINK                                     9186.0

In [72]:
expdf[expdf.index.get_level_values('Gene Names') == 'ACAT1']

                                                                  rep1  \
Gene Names Sequence
ACAT1      EVVIVSATR                                           12606.0
           FGNEVIPVTVTVK                                        9934.0
           IHMGSC[Common Fixed:Carbamidomethyl on C]AENTAK      9499.0
           LGSIAIQGAIEK                                         6369.0
           LNVTPLAR                                             9907.0
           QAVLGAGLPISTPC[Common Fixed:Carbamidomethyl on ...      0.0

                                                                  rep2  \
Gene Names Sequence
ACAT1      EVVIVSATR                                            9447.0
           FGNEVIPVTVTVK                                       10062.0
           IHMGSC[Common Fixed:Carbamidomethyl on C]AENTAK     13372.0
           LGSIAIQGAIEK                                         7416.0
           LNVTPLAR                                             9614.0
           QAVLGAGLPISTPC[Common Fixed:Carbamidomethyl on ...      0.0

                                                                  rep3  \
Gene Names Sequence
ACAT1      EVVIVSATR                                            4880.0
           FGNEVIPVTVTVK                                       19937.0
           IHMGSC[Common Fixed:Carbamidomethyl on C]AENTAK      7039.0
           LGSIAIQGAIEK                                         9167.0
           LNVTPLAR                                             6275.0
           QAVLGAGLPISTPC[Common Fixed:Carbamidomethyl on ...  14306.0

                                                                  rep4  \
Gene Names Sequence
ACAT1      EVVIVSATR                                            4280.0
           FGNEVIPVTVTVK                                       22890.0
           IHMGSC[Common Fixed:Carbamidomethyl on C]AENTAK      9229.0
           LGSIAIQGAIEK                                        10841.0
           LNVTPLAR                                             6207.0
           QAVLGAGLPISTPC[Common Fixed:Carbamidomethyl on ...  12078.0

                                                                  rep5  \
Gene Names Sequence
ACAT1      EVVIVSATR                                            9841.0
           FGNEVIPVTVTVK                                       12913.0
           IHMGSC[Common Fixed:Carbamidomethyl on C]AENTAK         0.0
           LGSIAIQGAIEK                                         8985.0
           LNVTPLAR                                             9739.0
           QAVLGAGLPISTPC[Common Fixed:Carbamidomethyl on ...   6435.0

                                                                  rep6
Gene Names Sequence
ACAT1      EVVIVSATR                                            9542.0
           FGNEVIPVTVTVK                                       16060.0
           IHMGSC[Common Fixed:Carbamidomethyl on C]AENTAK         0.0
           LGSIAIQGAIEK                                            0.0
           LNVTPLAR                                                0.0
           QAVLGAGLPISTPC[Common Fixed:Carbamidomethyl on ...      0.0

In [73]:
expdf[expdf.index.get_level_values('Gene Names') == 'ABCE1']

                                                                 rep1    rep2  \
Gene Names Sequence
ABCE1      PGEVLGLVGTNGIGK                                     6192.0  4381.0
           TQAIVC[Common Fixed:Carbamidomethyl on C]QQLDLTHLK  7068.0  7877.0

                                                                  rep3  \
Gene Names Sequence
ABCE1      PGEVLGLVGTNGIGK                                     10382.0
           TQAIVC[Common Fixed:Carbamidomethyl on C]QQLDLTHLK   5689.0

                                                                  rep4  \
Gene Names Sequence
ABCE1      PGEVLGLVGTNGIGK                                     12192.0
           TQAIVC[Common Fixed:Carbamidomethyl on C]QQLDLTHLK  18915.0

                                                                 rep5     rep6
Gene Names Sequence
ABCE1      PGEVLGLVGTNGIGK                                     8251.0  11416.0
           TQAIVC[Common Fixed:Carbamidomethyl on C]QQLDLTHLK  7657.0  10931.0

In [74]:
one_consistent

['ABCF1',
 'ABCF2',
 'ABHD14B',
 'ACAT2',
 'ACOT12',
 'ACOT9',
 'ACTC1|ACTA1',
 'ACTR2',
 'ADK',
 'AGAP2',
 'AHCYL1|AHCYL2',
 'AHSG',
 'AIP',
 'ALYREF',
 'ANP32E',
 'ANXA6',
 'ANXA7',
 'APEH',
 'APMAP',
 'APOBEC3G',
 'APRT',
 'ARCN1',
 'ARHGDIA',
 'ARL1',
 'ARPC1B',
 'ARPC2',
 'ARPC3',
 'ASH1L',
 'ATAD3A',
 'ATAD5',
 'ATP1B3',
 'ATP5F1E|ATP5F1EP2',
 'ATXN2L',
 'B2M',
 'B4GALT1',
 'BANF1',
 'BCCIP',
 'BLMH',
 'BRIX1',
 'BTF3',
 'BTF3L4',
 'BUB3',
 'BZW2',
 'C11orf98',
 'C12orf29',
 'C1QBP',
 'C4A|C4B',
 'CAPNS1',
 'CAPZB',
 'CARHSP1',
 'CARS1',
 'CASP8',
 'CCDC124',
 'CCDC197',
 'CD63',
 'CD9',
 'CDC37',
 'CDK1',
 'CDKN2A',
 'CEP78',
 'CERS2',
 'CFAP74',
 'CFL2',
 'CHORDC1',
 'CISD2',
 'CLEC16A',
 'CLNS1A',
 'CLSTN1',
 'CLTA',
 'CMPK1',
 'CMYA5',
 'CNPY2',
 'COPA',
 'COPB1',
 'COPB2',
 'COPS4',
 'COTL1',
 'COX7A2',
 'COX7C',
 'CPSF6',
 'CRIP2',
 'CUL5',
 'CUTA',
 'CYB5B',
 'CYC1',
 'DAD1',
 'DBI',
 'DDX6',
 'DNAJA1',
 'DNAJB1|DNAJB4',
 'DNAJC8',
 'DNPH1',
 'DPM1',
 'DPP3',
 'DPY30',
 'EBP',
 'ECI1',
 'ECI2',
 'EDF1',
 'EDIL3',
 'EEF1A2',
 'EFHD2',
 'EGFR',
 'EIF1AX',
 'EIF3H',
 'EIF3K',
 'EIF3M',
 'EIF4E',
 'EIF4H',
 'EIF5',
 'ELOC',
 'EMG1',
 'ENO3',
 'ERH',
 'ERLIN1|ERLIN2',
 'ERMP1',
 'ERP44',
 'F2',
 'FABP5',
 'FAHD1',
 'FAU',
 'FKBP1A',
 'FKBP2',
 'G3BP2',
 'GBE1',
 'GET3',
 'GLRX',
 'GNB2',
 'GOT1',
 'GPRC5A',
 'GRWD1',
 'GSR',
 'GSS',
 'H2AZ1|H2AZ2',
 'H2BC11|H2BC17|H2BC3|H2BC21|H2BU1',
 'HACD3',
 'HADH',
 'HARS1',
 'HEXB',
 'HEXIM1',
 'HMGB2',
 'HMGB3',
 'HMGN1',
 'HMGN5',
 'HNRNPA3',
 'HNRNPF',
 'HP1BP3',
 'HSP90AB4P',
 'HUWE1',
 'HYOU1',
 'IFITM1|IFITM3|IFITM2',
 'KIF5B',
 'LAMP1',
 'LMAN2',
 'LRRD1',
 'LSM3',
 'LUC7L2',
 'LYPLA1',
 'MAGOH|MAGOHB',
 'MAN2C1',
 'MCTS1',
 'MGST1',
 'MLX',
 'MOCS1',
 'MOV10L1',
 'MPDU1',
 'MRPL46',
 'MSH6',
 'MT-ATP6',
 'MT-CO2',
 'MT2A|MT1G|MT1X',
 'MTPN',
 'MYCN',
 'MYO1G',
 'NAA15',
 'NAP1L1',
 'NDUFA4',
 'NDUFA5',
 'NDUFB10',
 'NDUFB11',
 'NDUFB4',
 'NDUFS3',
 'NDUFS7',
 'NDUFV2',
 'NHP2',
 'NNT',
 'NUDT21',
 'NUTF2',
 'PAK2',
 'PCDHGA10',
 'PDAP1',
 'PDCD4',
 'PDGFRA|FLT3',
 'PDXK',
 'PES1',
 'PFDN2',
 'PFKM',
 'PGAM5',
 'PIN1',
 'PIN4',
 'PODXL',
 'POLD1',
 'POLG',
 'POR',
 'POSTN',
 'PPIH',
 'PPP1CA',
 'PPP1CB',
 'PPP2CA',
 'PRKACA|PRKACB',
 'PRMT5',
 'PRPF40A',
 'PSMB2',
 'PSMB4',
 'PSMC5',
 'PSMD14',
 'PSMD3',
 'PSMD4',
 'PSMD6',
 'PSMD9',
 'PSME2',
 'PSPH',
 'PTGES',
 'PTGR1',
 'PTMS',
 'PTPA',
 'RAB6A|RAB6B',
 'RAD23B',
 'RADX',
 'RAE1',
 'RANBP1',
 'RANGAP1',
 'RAP1B',
 'RBBP7',
 'RCC1',
 'RDH11',
 'RECQL',
 'RHOG',
 'ROCK2',
 'RPA1',
 'RPA2',
 'RPL19',
 'RPL29',
 'RPL39|RPL39P5',
 'RPL9',
 'RPS15',
 'RPS21',
 'RRS1',
 'RTN3',
 'S100A10',
 'SCAMP3',
 'SEC11A',
 'SEC23A|SEC23B',
 'SEPTIN9',
 'SERPINA7',
 'SERPINF1',
 'SF1',
 'SF3A1',
 'SF3B1',
 'SGTA',
 'SH3BGRL3',
 'SH3GLB2',
 'SLC16A3',
 'SLC1A5',
 'SLC25A12|SLC25A13',
 'SLC25A24',
 'SLC25A6',
 'SLC2A1',
 'SLC30A1',
 'SNRPB|SNRPN',
 'SNRPC',
 'SNX2',
 'SNX6',
 'SOAT1',
 'SPR',
 'SRPRB',
 'SRSF2',
 'SRSF9',
 'SSBP1',
 'SSR4',
 'ST13',
 'SUB1',
 'SUCLG2',
 'SUMO2',
 'SURF4',
 'SYPL1',
 'TAF15',
 'TCEA1',
 'TCF7',
 'TCOF1',
 'TFG',
 'TGM2',
 'THRAP3',
 'TIMM13',
 'TIMM50',
 'TKFC',
 'TM4SF1',
 'TMA7',
 'TMED10',
 'TMED7',
 'TMED9',
 'TMEM33',
 'TOMM34',
 'TOMM70',
 'TOR1AIP1',
 'TPD52',
 'TPM4',
 'TPT1',
 'TRIM25',
 'TRIM4',
 'TRIP13',
 'TRMT112',
 'TRRAP',
 'TSFM',
 'TSR1',
 'TTC3',
 'TTN',
 'TUBB3',
 'TXNDC12',
 'UBA52',
 'UBAP2L',
 'UBE2I',
 'UBE2L3',
 'UBE2V1',
 'UFD1',
 'UGCG',
 'UHRF1BP1',
 'UQCRFS1P1|UQCRFS1',
 'USP5',
 'VAMP2|VAMP3',
 'WDR1',
 'WDR76',
 'WDR77',
 'ZIC2|ZIC1|ZIC4|ZIC5',
 'ZNF568',
 'ZYX']

In [75]:
# expdf[expdf.index.get_level_values('Gene Names') == '']

In [76]:
# expdf[expdf.index.get_level_values('Gene Names') == 'LMAN2']
# expdf[expdf.index.get_level_values('Gene Names') == 'MAGOH|MAGOHB']
# expdf[expdf.index.get_level_values('Gene Names') == 'POR']
# expdf[expdf.index.get_level_values('Gene Names') == 'PSMB4']
# expdf[expdf.index.get_level_values('Gene Names') == 'PSPH']
expdf[expdf.index.get_level_values('Gene Names') == 'RRS1']

                                                                  rep1  \
Gene Names Sequence
RRS1       C[Common Fixed:Carbamidomethyl on C]AGPTPEAELQALAR   6913.0
           FQPLFGDFAAEK                                         8089.0
           VEEAIVAR                                            15578.0

                                                                 rep2  \
Gene Names Sequence
RRS1       C[Common Fixed:Carbamidomethyl on C]AGPTPEAELQALAR     0.0
           FQPLFGDFAAEK                                        8020.0
           VEEAIVAR                                               0.0

                                                                  rep3  \
Gene Names Sequence
RRS1       C[Common Fixed:Carbamidomethyl on C]AGPTPEAELQALAR  10869.0
           FQPLFGDFAAEK                                         8641.0
           VEEAIVAR                                                0.0

                                                                  rep4  \
Gene Names Sequence
RRS1       C[Common Fixed:Carbamidomethyl on C]AGPTPEAELQALAR  13394.0
           FQPLFGDFAAEK                                        10815.0
           VEEAIVAR                                            12644.0

                                                                 rep5     rep6
Gene Names Sequence
RRS1       C[Common Fixed:Carbamidomethyl on C]AGPTPEAELQALAR  6816.0  12291.0
           FQPLFGDFAAEK                                        8922.0  13755.0
           VEEAIVAR                                               0.0      0.0

In [77]:
expdf[expdf.index.get_level_values('Gene Names') == 'RRS1'].max(axis=1)

Gene Names  Sequence
RRS1        C[Common Fixed:Carbamidomethyl on C]AGPTPEAELQALAR    13394.0
            FQPLFGDFAAEK                                          13755.0
            VEEAIVAR                                              15578.0
dtype: float64

In [78]:
expdf[expdf.index.get_level_values('Gene Names') == 'RRS1'].median(axis=1)

Gene Names  Sequence
RRS1        C[Common Fixed:Carbamidomethyl on C]AGPTPEAELQALAR    8891.0
            FQPLFGDFAAEK                                          8781.5
            VEEAIVAR                                                 0.0
dtype: float64

In [79]:
expdf[expdf.index.get_level_values('Gene Names') == 'G3BP2']

                                                               rep1     rep2  \
Gene Names Sequence
G3BP2      TEELKPQVEEK                                       8943.0   7732.0
           VEAKPEVQSQPPR                                    12466.0  15676.0
           VLSLNFSEC[Common Fixed:Carbamidomethyl on C]HTK   8518.0   8178.0

                                                              rep3     rep4  \
Gene Names Sequence
G3BP2      TEELKPQVEEK                                         0.0      0.0
           VEAKPEVQSQPPR                                    6596.0  10044.0
           VLSLNFSEC[Common Fixed:Carbamidomethyl on C]HTK     0.0      0.0

                                                              rep5    rep6
Gene Names Sequence
G3BP2      TEELKPQVEEK                                      2817.0     0.0
           VEAKPEVQSQPPR                                    4804.0  7429.0
           VLSLNFSEC[Common Fixed:Carbamidomethyl on C]HTK     0.0     0.0

In [80]:
expdf[expdf.index.get_level_values('Gene Names') == 'FKBP2']

                            rep1     rep2     rep3     rep4     rep5     rep6
Gene Names Sequence
FKBP2      LVIPSELGYGER  16629.0  10412.0  19073.0  14122.0  12526.0  21799.0

In [81]:
expdf[expdf.index.get_level_values('Gene Names') == 'FKBP1A']

                              rep1     rep2     rep3     rep4     rep5  \
Gene Names Sequence
FKBP1A     GVQVETISPGDGR   23363.0  24732.0  15588.0  15684.0  21840.0
           GWEEGVAQMSVGQR  10418.0   5363.0      0.0      0.0      0.0

                              rep6
Gene Names Sequence
FKBP1A     GVQVETISPGDGR   21158.0
           GWEEGVAQMSVGQR      0.0

In [82]:
expdf[expdf.index.get_level_values('Gene Names') == 'FAU']

                          rep1     rep2     rep3     rep4      rep5      rep6
Gene Names Sequence
FAU        FVNVVPTFGK  90083.0  71325.0  92799.0  98444.0  103246.0  120921.0

In [83]:
expdf[expdf.index.get_level_values('Gene Names') == 'FAHD1']

                           rep1    rep2    rep3    rep4    rep5     rep6
Gene Names Sequence
FAHD1      SAVLSEPVLFLK  6283.0  6836.0  8389.0  4988.0  8612.0  11541.0

In [84]:
expdf[expdf.index.get_level_values('Gene Names') == 'FABP5']

                                                                  rep1  \
Gene Names Sequence
FABP5      ELGVGIALR                                            8120.0
           LVVEC[Common Fixed:Carbamidomethyl on C]VMNNVTC...  13868.0
           TTQFSC[Common Fixed:Carbamidomethyl on C]TLGEK      12382.0

                                                                 rep2  \
Gene Names Sequence
FABP5      ELGVGIALR                                           9589.0
           LVVEC[Common Fixed:Carbamidomethyl on C]VMNNVTC...     0.0
           TTQFSC[Common Fixed:Carbamidomethyl on C]TLGEK      9629.0

                                                                  rep3  \
Gene Names Sequence
FABP5      ELGVGIALR                                            5456.0
           LVVEC[Common Fixed:Carbamidomethyl on C]VMNNVTC...  18349.0
           TTQFSC[Common Fixed:Carbamidomethyl on C]TLGEK      13404.0

                                                                  rep4  \
Gene Names Sequence
FABP5      ELGVGIALR                                            9570.0
           LVVEC[Common Fixed:Carbamidomethyl on C]VMNNVTC...  16306.0
           TTQFSC[Common Fixed:Carbamidomethyl on C]TLGEK      10324.0

                                                                  rep5  \
Gene Names Sequence
FABP5      ELGVGIALR                                            8048.0
           LVVEC[Common Fixed:Carbamidomethyl on C]VMNNVTC...  18640.0
           TTQFSC[Common Fixed:Carbamidomethyl on C]TLGEK      12789.0

                                                                  rep6
Gene Names Sequence
FABP5      ELGVGIALR                                               0.0
           LVVEC[Common Fixed:Carbamidomethyl on C]VMNNVTC...  18475.0
           TTQFSC[Common Fixed:Carbamidomethyl on C]TLGEK       8504.0

In [85]:
expdf[expdf.index.get_level_values('Gene Names') == 'F2']

,,rep1,rep2,rep3,rep4,rep5,rep6
Gene Names,Sequence,,,,,,
F2,SPQELLC[Common Fixed:Carbamidomethyl on C]GASLISDR,15008.0,13788.0,9219.0,7127.0,16966.0,27211.0

In [86]:
expdf[expdf.index.get_level_values('Gene Names') == 'ERP44']

                                                                rep1     rep2  \
Gene Names Sequence
ERP44      DLAEITTLDR                                         5035.0   7874.0
           TPADC[Common Fixed:Carbamidomethyl on C]PVIAIDSFR  6700.0   5124.0
           VDC[Common Fixed:Carbamidomethyl on C]DQHSDIAQR    8204.0  12921.0

                                                                 rep3  \
Gene Names Sequence
ERP44      DLAEITTLDR                                             0.0
           TPADC[Common Fixed:Carbamidomethyl on C]PVIAIDSFR  10962.0
           VDC[Common Fixed:Carbamidomethyl on C]DQHSDIAQR        0.0

                                                                 rep4  \
Gene Names Sequence
ERP44      DLAEITTLDR                                             0.0
           TPADC[Common Fixed:Carbamidomethyl on C]PVIAIDSFR  13261.0
           VDC[Common Fixed:Carbamidomethyl on C]DQHSDIAQR        0.0

                                                                 rep5     rep6
Gene Names Sequence
ERP44      DLAEITTLDR                                             0.0      0.0
           TPADC[Common Fixed:Carbamidomethyl on C]PVIAIDSFR  11840.0  12185.0
           VDC[Common Fixed:Carbamidomethyl on C]DQHSDIAQR        0.0      0.0

In [87]:
expdf[expdf.index.get_level_values('Gene Names') == 'ERMP1']

                            rep1    rep2     rep3    rep4     rep5     rep6
Gene Names Sequence
ERMP1      AFINLEAAGVGGK  5560.0  5392.0  10819.0  9935.0  13149.0  13429.0

In [88]:
expdf[expdf.index.get_level_values('Gene Names') == 'ERH']

                                                                  rep1  \
Gene Names Sequence
ERH        ADTQTYQPYNK                                         19231.0
           TYADYESVNEC[Common Fixed:Carbamidomethyl on C]M...  10338.0

                                                                  rep2  \
Gene Names Sequence
ERH        ADTQTYQPYNK                                         18758.0
           TYADYESVNEC[Common Fixed:Carbamidomethyl on C]M...      0.0

                                                                  rep3  \
Gene Names Sequence
ERH        ADTQTYQPYNK                                         18267.0
           TYADYESVNEC[Common Fixed:Carbamidomethyl on C]M...      0.0

                                                                  rep4  \
Gene Names Sequence
ERH        ADTQTYQPYNK                                         17195.0
           TYADYESVNEC[Common Fixed:Carbamidomethyl on C]M...      0.0

                                                                 rep5     rep6
Gene Names Sequence
ERH        ADTQTYQPYNK                                         8578.0  14771.0
           TYADYESVNEC[Common Fixed:Carbamidomethyl on C]M...     0.0      0.0

In [89]:
expdf[expdf.index.get_level_values('Gene Names') == 'ELOC']

                            rep1     rep2     rep3     rep4     rep5    rep6
Gene Names Sequence
ELOC       LISSDGHEFIVK  15556.0  18032.0  19745.0  17658.0  18399.0  9288.0

In [90]:
expdf[expdf.index.get_level_values('Gene Names') == 'EIF5']

                                                                  rep1  \
Gene Names Sequence
EIF5       FVLC[Common Fixed:Carbamidomethyl on C]PEC[Comm...   7553.0
           LQDMLDGFIK                                           6133.0
           TVIVNMVDVAK                                         11222.0
           VLTLSDDLER                                           9289.0
           VNILFDFVK                                            6800.0

                                                                 rep2  \
Gene Names Sequence
EIF5       FVLC[Common Fixed:Carbamidomethyl on C]PEC[Comm...  4322.0
           LQDMLDGFIK                                          4714.0
           TVIVNMVDVAK                                         8500.0
           VLTLSDDLER                                             0.0
           VNILFDFVK                                           7167.0

                                                                  rep3  \
Gene Names Sequence
EIF5       FVLC[Common Fixed:Carbamidomethyl on C]PEC[Comm...      0.0
           LQDMLDGFIK                                           4027.0
           TVIVNMVDVAK                                         12761.0
           VLTLSDDLER                                              0.0
           VNILFDFVK                                               0.0

                                                                  rep4  \
Gene Names Sequence
EIF5       FVLC[Common Fixed:Carbamidomethyl on C]PEC[Comm...      0.0
           LQDMLDGFIK                                              0.0
           TVIVNMVDVAK                                         13331.0
           VLTLSDDLER                                              0.0
           VNILFDFVK                                            5938.0

                                                                  rep5  \
Gene Names Sequence
EIF5       FVLC[Common Fixed:Carbamidomethyl on C]PEC[Comm...   8256.0
           LQDMLDGFIK                                           3485.0
           TVIVNMVDVAK                                         12425.0
           VLTLSDDLER                                          13289.0
           VNILFDFVK                                               0.0

                                                                  rep6
Gene Names Sequence
EIF5       FVLC[Common Fixed:Carbamidomethyl on C]PEC[Comm...   9172.0
           LQDMLDGFIK                                           8023.0
           TVIVNMVDVAK                                         18727.0
           VLTLSDDLER                                              0.0
           VNILFDFVK                                               0.0

In [91]:
expdf[expdf.index.get_level_values('Gene Names') == 'ELOC']

                            rep1     rep2     rep3     rep4     rep5    rep6
Gene Names Sequence
ELOC       LISSDGHEFIVK  15556.0  18032.0  19745.0  17658.0  18399.0  9288.0

In [92]:
expdf[expdf.index.get_level_values('Gene Names') == 'EIF3K']

                                                                rep1    rep2  \
Gene Names Sequence
EIF3K      ALTNLPHTDFTLC[Common Fixed:Carbamidomethyl on C]K  7499.0  8973.0
           YNPENLATLER                                           0.0     0.0

                                                                 rep3  \
Gene Names Sequence
EIF3K      ALTNLPHTDFTLC[Common Fixed:Carbamidomethyl on C]K  12795.0
           YNPENLATLER                                        11238.0

                                                                 rep4    rep5  \
Gene Names Sequence
EIF3K      ALTNLPHTDFTLC[Common Fixed:Carbamidomethyl on C]K  17366.0  7065.0
           YNPENLATLER                                         6297.0  8948.0

                                                                rep6
Gene Names Sequence
EIF3K      ALTNLPHTDFTLC[Common Fixed:Carbamidomethyl on C]K  9750.0
           YNPENLATLER                                           0.0

In [93]:
expdf[expdf.index.get_level_values('Gene Names') == 'ECI1']

                               rep1     rep2     rep3     rep4     rep5  \
Gene Names Sequence
ECI1       DADVQNFVSFISK     8163.0   4848.0      0.0      0.0      0.0
           DTLENTIGHR       10351.0  10653.0      0.0   2355.0   5293.0
           SLQMYLER          7303.0   8076.0   8172.0   9898.0  14903.0
           VLVEPDAGAGVAVMK  17945.0  15542.0  25033.0  23969.0  24985.0

                               rep6
Gene Names Sequence
ECI1       DADVQNFVSFISK    11786.0
           DTLENTIGHR        5799.0
           SLQMYLER             0.0
           VLVEPDAGAGVAVMK   8010.0

In [94]:
expdf[expdf.index.get_level_values('Gene Names') == 'EBP']

                            rep1     rep2     rep3     rep4    rep5     rep6
Gene Names Sequence
EBP        HLTHAQSTLDAK  14483.0  16995.0  18774.0  15750.0  7033.0  10543.0

In [95]:
expdf[expdf.index.get_level_values('Gene Names') == 'DPM1']

                          rep1    rep2    rep3     rep4    rep5    rep6
Gene Names Sequence
DPM1       LGGNEIVSFLK  5125.0  4944.0  7668.0   7688.0  5885.0  8348.0
           YSVLLPTYNER  5454.0  5354.0  9561.0  10347.0  5644.0     0.0

In [96]:
expdf[expdf.index.get_level_values('Gene Names') == 'CPSF6']

                             rep1    rep2     rep3     rep4     rep5    rep6
Gene Names Sequence
CPSF6      GAAPNVVYTYTGK   8493.0  6913.0  11251.0  10223.0  10053.0     0.0
           GFALVGVGSEASSK  9020.0  7387.0  14189.0  10426.0  14585.0  9165.0

In [97]:
expdf[expdf.index.get_level_values('Gene Names') == 'COX7A2']

                             rep1     rep2    rep3     rep4     rep5     rep6
Gene Names Sequence
COX7A2     GGVADALLYR     11259.0   8885.0  8872.0  14936.0  13790.0  14273.0
           LFQEDDEIPLYLK  15331.0  10774.0     0.0      0.0   9375.0  21800.0

In [98]:
expdf[expdf.index.get_level_values('Gene Names') == 'COTL1']

                         rep1     rep2     rep3     rep4     rep5     rep6
Gene Names Sequence
COTL1      ELEEDFIK   16596.0  19090.0      0.0      0.0  22613.0  15699.0
           EVVQNFAK   37269.0  38081.0  12491.0  10942.0  15781.0  16230.0
           FTTGDAMSK  13977.0  14946.0      0.0   8645.0      0.0      0.0

In [99]:
expdf[expdf.index.get_level_values('Gene Names') == 'COPS4']

                               rep1    rep2    rep3    rep4    rep5    rep6
Gene Names Sequence
COPS4      AIQLSGAEQLEALK       0.0     0.0  8323.0     0.0     0.0     0.0
           NAAQVLVGIPLETGQK  2766.0  5047.0  7932.0  7828.0  7147.0  8561.0

In [100]:
expdf[expdf.index.get_level_values('Gene Names') == 'COPB2']

                                                             rep1    rep2  \
Gene Names Sequence
COPB2      GSNNVALGYDEGSIIVK                               7265.0  7846.0
           TFEVC[Common Fixed:Carbamidomethyl on C]DLPVR   8738.0  7922.0
           VFNYNTLER                                      10546.0  8498.0

                                                            rep3     rep4  \
Gene Names Sequence
COPB2      GSNNVALGYDEGSIIVK                                 0.0      0.0
           TFEVC[Common Fixed:Carbamidomethyl on C]DLPVR  8641.0  12054.0
           VFNYNTLER                                      7762.0      0.0

                                                             rep5     rep6
Gene Names Sequence
COPB2      GSNNVALGYDEGSIIVK                              11754.0      0.0
           TFEVC[Common Fixed:Carbamidomethyl on C]DLPVR  12858.0  20144.0
           VFNYNTLER                                      16335.0      0.0

In [101]:
expdf[expdf.index.get_level_values('Gene Names') == 'COPB1']

                                                               rep1    rep2  \
Gene Names Sequence
COPB1      AAAQC[Common Fixed:Carbamidomethyl on C]YIDLIIK      0.0  2447.0
           VLSTPDLEVR                                        5379.0  6001.0
           YEAAGTLVTLSSAPTAIK                               10452.0  8710.0

                                                               rep3     rep4  \
Gene Names Sequence
COPB1      AAAQC[Common Fixed:Carbamidomethyl on C]YIDLIIK   5228.0   5031.0
           VLSTPDLEVR                                        5391.0   5918.0
           YEAAGTLVTLSSAPTAIK                               19389.0  19173.0

                                                              rep5     rep6
Gene Names Sequence
COPB1      AAAQC[Common Fixed:Carbamidomethyl on C]YIDLIIK     0.0      0.0
           VLSTPDLEVR                                       8404.0      0.0
           YEAAGTLVTLSSAPTAIK                               8113.0  14272.0

In [102]:
expdf[expdf.index.get_level_values('Gene Names') == 'COPA']

                                rep1    rep2     rep3    rep4     rep5  \
Gene Names Sequence
COPA       GFFEGTIASK         8583.0  9592.0      0.0     0.0  12871.0
           GITGVDLFGTTDAVVK   6735.0     0.0  13782.0     0.0      0.0
           LLELGPKPEVAQQTR    8907.0  9457.0   8811.0  8710.0  11115.0
           TALNLFFK           8565.0  6641.0      0.0     0.0   4205.0
           TLDLPIYVTR         7135.0  7694.0   7372.0  9827.0   7903.0
           VLTIDPTEFK        11281.0  7566.0  10433.0     0.0  14802.0

                                rep6
Gene Names Sequence
COPA       GFFEGTIASK            0.0
           GITGVDLFGTTDAVVK  16902.0
           LLELGPKPEVAQQTR       0.0
           TALNLFFK           8743.0
           TLDLPIYVTR        11754.0
           VLTIDPTEFK        18687.0

In [103]:
expdf[expdf.index.get_level_values('Gene Names') == 'CMYA5']

                         rep1     rep2     rep3     rep4    rep5     rep6
Gene Names Sequence
CMYA5      KAPITEDVR  19558.0  25051.0  10590.0  16963.0  9991.0  10417.0

In [104]:
expdf[expdf.index.get_level_values('Gene Names') == 'CMPK1']

                           rep1    rep2    rep3    rep4    rep5    rep6
Gene Names Sequence
CMPK1      FLIDGFPR      9015.0  7142.0  6890.0  6153.0  4293.0  6351.0
           NPDSQYGELIEK  7934.0  5707.0     0.0     0.0     0.0     0.0

In [105]:
expdf[expdf.index.get_level_values('Gene Names') == 'CLTA']

                         rep1     rep2    rep3    rep4    rep5     rep6
Gene Names Sequence
CLTA       LEALDANSR  18402.0  19509.0  7647.0  9814.0  8850.0  13630.0
           LQSEPESIR   8467.0  10155.0     0.0     0.0  7517.0  10036.0

In [106]:
expdf[expdf.index.get_level_values('Gene Names') == 'CLSTN1']

                        rep1     rep2     rep3     rep4     rep5     rep6
Gene Names Sequence
CLSTN1     GPDGTNVK  22863.0  27779.0  21271.0  24935.0  10733.0  15727.0

In [107]:
expdf[expdf.index.get_level_values('Gene Names') == 'CLNS1A']

                            rep1    rep2     rep3     rep4     rep5    rep6
Gene Names Sequence
CLNS1A     GLGTGTLYIAESR  7785.0  9357.0  18637.0  17971.0  15844.0  9866.0

In [108]:
expdf[expdf.index.get_level_values('Gene Names') == 'CLEC16A']

                        rep1     rep2     rep3     rep4     rep5     rep6
Gene Names Sequence
CLEC16A    TITLNVYK  21896.0  23287.0  18568.0  17890.0  33225.0  19464.0

In [109]:
expdf[expdf.index.get_level_values('Gene Names') == 'CISD2']

                           rep1     rep2    rep3     rep4    rep5     rep6
Gene Names Sequence
CISD2      LPVPESITGFAR  8852.0  11667.0  8108.0  11106.0  6613.0  15107.0

In [110]:
expdf[expdf.index.get_level_values('Gene Names') == 'CHORDC1']

,,rep1,rep2,rep3,rep4,rep5,rep6
Gene Names,Sequence,,,,,,
CHORDC1,TSDFNTFLAQEGC[Common Fixed:Carbamidomethyl on C]TK,10588.0,9528.0,11303.0,15553.0,9874.0,16252.0

In [111]:
expdf[expdf.index.get_level_values('Gene Names') == 'CFL2']

,,rep1,rep2,rep3,rep4,rep5,rep6
Gene Names,Sequence,,,,,,
CFL2,AVLFC[Common Fixed:Carbamidomethyl on C]LSDDK,10984.0,9190.0,12586.0,12269.0,18003.0,22682.0

In [112]:
expdf[expdf.index.get_level_values('Gene Names') == 'CDK1']

                              rep1     rep2    rep3    rep4     rep5     rep6
Gene Names Sequence
CDK1       IGEGTYGVVYK      9773.0   7051.0  7278.0  8313.0  10289.0   9631.0
           LESEEEGVPSTAIR  12741.0   9853.0     0.0     0.0  10147.0  11632.0
           NLDENGLDLLSK     9076.0  12299.0     0.0     0.0  11816.0  11482.0
           SPEVLLGSAR       7141.0   6398.0     0.0     0.0  10172.0      0.0

In [113]:
expdf[expdf.index.get_level_values('Gene Names') == 'CDC37']

                           rep1     rep2     rep3     rep4     rep5     rep6
Gene Names Sequence
CDC37      DVQMLQDAISK  10902.0   8945.0      0.0      0.0  14476.0      0.0
           ELEVAEGGK     8860.0  12055.0      0.0      0.0      0.0      0.0
           LQAEAQQLR    18894.0  20548.0  10211.0  15684.0   9140.0  13185.0
           TEEDSEEVR    11437.0  10741.0      0.0      0.0      0.0      0.0

In [114]:
expdf[expdf.index.get_level_values('Gene Names') == 'CD9']

                         rep1     rep2    rep3     rep4     rep5     rep6
Gene Names Sequence
CD9        DVLETFTVK  12786.0  12231.0  6597.0  11206.0  16350.0  19591.0

In [115]:
expdf[expdf.index.get_level_values('Gene Names') == 'CD63']

                          rep1     rep2     rep3     rep4     rep5     rep6
Gene Names Sequence
CD63       VMSEFNNNFR  16768.0  13565.0  10782.0  13264.0  17758.0  17915.0

In [116]:
expdf[expdf.index.get_level_values('Gene Names') == 'CAPZB']

                                                                  rep1  \
Gene Names Sequence
CAPZB      DETVSDC[Common Fixed:Carbamidomethyl on C]SPHIA...   8490.0
           DYLLC[Common Fixed:Carbamidomethyl on C]DYNR         9438.0
           LEVEANNAFDQYR                                       14816.0
           LVEDMENK                                            12421.0
           SGSGTMNLGGSLTR                                       8161.0
           STLNEIYFGK                                          22209.0

                                                                  rep2  \
Gene Names Sequence
CAPZB      DETVSDC[Common Fixed:Carbamidomethyl on C]SPHIA...   9758.0
           DYLLC[Common Fixed:Carbamidomethyl on C]DYNR        10318.0
           LEVEANNAFDQYR                                       12422.0
           LVEDMENK                                            13774.0
           SGSGTMNLGGSLTR                                       7582.0
           STLNEIYFGK                                          20592.0

                                                                  rep3  \
Gene Names Sequence
CAPZB      DETVSDC[Common Fixed:Carbamidomethyl on C]SPHIA...      0.0
           DYLLC[Common Fixed:Carbamidomethyl on C]DYNR            0.0
           LEVEANNAFDQYR                                           0.0
           LVEDMENK                                                0.0
           SGSGTMNLGGSLTR                                          0.0
           STLNEIYFGK                                          23996.0

                                                                  rep4  \
Gene Names Sequence
CAPZB      DETVSDC[Common Fixed:Carbamidomethyl on C]SPHIA...      0.0
           DYLLC[Common Fixed:Carbamidomethyl on C]DYNR            0.0
           LEVEANNAFDQYR                                           0.0
           LVEDMENK                                                0.0
           SGSGTMNLGGSLTR                                      15358.0
           STLNEIYFGK                                          24926.0

                                                                  rep5  \
Gene Names Sequence
CAPZB      DETVSDC[Common Fixed:Carbamidomethyl on C]SPHIA...   4305.0
           DYLLC[Common Fixed:Carbamidomethyl on C]DYNR         8257.0
           LEVEANNAFDQYR                                       13984.0
           LVEDMENK                                             6024.0
           SGSGTMNLGGSLTR                                      12743.0
           STLNEIYFGK                                          31745.0

                                                                  rep6
Gene Names Sequence
CAPZB      DETVSDC[Common Fixed:Carbamidomethyl on C]SPHIA...      0.0
           DYLLC[Common Fixed:Carbamidomethyl on C]DYNR         7238.0
           LEVEANNAFDQYR                                        9975.0
           LVEDMENK                                             5131.0
           SGSGTMNLGGSLTR                                          0.0
           STLNEIYFGK                                          45183.0

In [117]:
expdf[expdf.index.get_level_values('Gene Names') == 'CARS1']

                             rep1    rep2     rep3    rep4     rep5     rep6
Gene Names Sequence
CARS1      APVDITGQFEK     7863.0  8416.0  10111.0  8812.0  13474.0  14349.0
           IQHAVQLATEPLEK  6377.0  5488.0   8424.0     0.0   9368.0      0.0
           VPEILQLSDALR    4396.0  3486.0      0.0     0.0      0.0   7465.0

In [118]:
expdf[expdf.index.get_level_values('Gene Names') == 'BANF1']

                               rep1      rep2      rep3      rep4      rep5  \
Gene Names Sequence
BANF1      DFVAEPMGEK       33391.0   25939.0       0.0       0.0   37157.0
           HRDFVAEPMGEK      7228.0   12170.0    7715.0    8064.0       0.0
           PVGSLAGIGEVLGK  131433.0  115848.0  180676.0  164451.0  130847.0

                               rep6
Gene Names Sequence
BANF1      DFVAEPMGEK       25917.0
           HRDFVAEPMGEK         0.0
           PVGSLAGIGEVLGK  192282.0

In [119]:
expdf[expdf.index.get_level_values('Gene Names') == 'B2M']

                          rep1     rep2     rep3     rep4     rep5     rep6
Gene Names Sequence
B2M        VEHSDLSFSK  22818.0  22321.0  15889.0  14786.0  15481.0  24237.0

In [120]:
expdf[expdf.index.get_level_values('Gene Names') == 'ATAD5']

                          rep1     rep2     rep3     rep4     rep5     rep6
Gene Names Sequence
ATAD5      TLDTGAIPGK  32810.0  29298.0  20108.0  19152.0  19920.0  24691.0

In [121]:
expdf[expdf.index.get_level_values('Gene Names') == 'ATAD3A']

                        rep1    rep2    rep3    rep4    rep5     rep6
Gene Names Sequence
ATAD3A     ATLNAFLYR  6525.0  6085.0  6888.0  7995.0  9186.0  10674.0

In [122]:
expdf[expdf.index.get_level_values('Gene Names') == 'ASH1L']

                           rep1     rep2     rep3     rep4     rep5     rep6
Gene Names Sequence
ASH1L      GLELERSELFK  32083.0  31832.0  42535.0  42012.0  36987.0  46889.0

In [123]:
expdf[expdf.index.get_level_values('Gene Names') == 'ARPC3']

                       rep1    rep2    rep3    rep4    rep5    rep6
Gene Names Sequence
ARPC3      VFDPQNDK  7353.0  7694.0  6840.0  9872.0  5643.0  6944.0

In [124]:
expdf[expdf.index.get_level_values('Gene Names') == 'ARCN1']

                                                            rep1    rep2  \
Gene Names Sequence
ARCN1      ENVNLAQIR                                      8799.0  5677.0
           FSTETTFLVDK                                    8478.0  9101.0
           IEGLLAAFPK                                     5465.0  4356.0
           LFTAESLIGLK                                   10266.0  7741.0
           NYC[Common Fixed:Carbamidomethyl on C]NIQVTK   6728.0  6721.0

                                                            rep3     rep4  \
Gene Names Sequence
ARCN1      ENVNLAQIR                                         0.0      0.0
           FSTETTFLVDK                                       0.0      0.0
           IEGLLAAFPK                                        0.0   7780.0
           LFTAESLIGLK                                   12131.0  10730.0
           NYC[Common Fixed:Carbamidomethyl on C]NIQVTK   6743.0   5605.0

                                                            rep5     rep6
Gene Names Sequence
ARCN1      ENVNLAQIR                                      9026.0      0.0
           FSTETTFLVDK                                   15192.0  23488.0
           IEGLLAAFPK                                     4815.0   8228.0
           LFTAESLIGLK                                    6733.0  10706.0
           NYC[Common Fixed:Carbamidomethyl on C]NIQVTK      0.0      0.0

In [125]:
expdf[expdf.index.get_level_values('Gene Names') == 'APRT']

                          rep1     rep2     rep3     rep4     rep5     rep6
Gene Names Sequence
APRT       AAIGLLAR    14756.0  18961.0  10500.0  12377.0  15749.0   7081.0
           DALEPGQR     7484.0   8353.0      0.0      0.0      0.0      0.0
           IDYIAGLDSR  11341.0  13068.0      0.0  10599.0  28772.0  24553.0

In [126]:
expdf[expdf.index.get_level_values('Gene Names') == 'APMAP']

                            rep1     rep2    rep3    rep4     rep5     rep6
Gene Names Sequence
APMAP      LLEYDTVTR     10680.0  11522.0  7225.0  7456.0   9330.0  10125.0
           LLLSSETPIEGK   7076.0  10576.0  8199.0  8478.0  13248.0      0.0

In [127]:
expdf[expdf.index.get_level_values('Gene Names') == 'APEH']

                            rep1    rep2    rep3     rep4    rep5     rep6
Gene Names Sequence
APEH       ALDVSASDDEIAR  9988.0  5643.0     0.0  23736.0     0.0      0.0
           SALYYVDLIGGK      0.0  3696.0  5728.0   5638.0  7757.0      0.0
           SFNLSALEK      8885.0  8943.0  7064.0   8820.0  8150.0  11065.0

In [128]:
expdf[expdf.index.get_level_values('Gene Names') == 'ANXA7']

                           rep1     rep2     rep3     rep4     rep5     rep6
Gene Names Sequence
ANXA7      EFSGYVESGLK  10083.0  11116.0   8554.0  10901.0  10168.0      0.0
           PAANFDAIR    10019.0   8912.0      0.0   4512.0      0.0   9781.0
           SEIDLVQIK     6729.0   7437.0  79846.0  88174.0  11782.0  14227.0

In [129]:
expdf[expdf.index.get_level_values('Gene Names') == 'ANXA6']

                          rep1    rep2    rep3    rep4    rep5    rep6
Gene Names Sequence
ANXA6      DAFVAIVQSVK  6432.0  5015.0  6996.0  6518.0  4867.0  6404.0
           EAILDIITSR   4722.0  4791.0     0.0     0.0  4050.0     0.0
           SEIDLLNIR    5437.0  7201.0     0.0     0.0  4112.0     0.0

In [130]:
expdf[expdf.index.get_level_values('Gene Names') == 'ANP32E']

                            rep1    rep2     rep3     rep4     rep5     rep6
Gene Names Sequence
ANP32E     DLSTVEALQNLK  27289.0  3110.0  27898.0  24325.0  25589.0  43249.0

In [131]:
expdf[expdf.index.get_level_values('Gene Names') == 'ALYREF']

                               rep1     rep2     rep3     rep4     rep5  \
Gene Names Sequence
ALYREF     MDMSLDDIIK        8074.0   5026.0      0.0      0.0   4410.0
           PMNIQLVTSQIDAQR      0.0      0.0   7081.0      0.0      0.0
           SLGTADVHFER      29527.0  31538.0  23131.0  23503.0  25770.0

                               rep6
Gene Names Sequence
ALYREF     MDMSLDDIIK        9826.0
           PMNIQLVTSQIDAQR      0.0
           SLGTADVHFER      22095.0

In [132]:
expdf[expdf.index.get_level_values('Gene Names') == 'AIP']

                              rep1    rep2     rep3    rep4    rep5     rep6
Gene Names Sequence
AIP        VLELDPALAPVVSR  10788.0  5168.0  10073.0  8447.0  7937.0  13937.0

In [133]:
expdf[expdf.index.get_level_values('Gene Names') == 'AHSG']

                                                                 rep1  \
Gene Names Sequence
AHSG       C[Common Fixed:Carbamidomethyl on C]DSSPDSAEDVR    36112.0
           C[Common Fixed:Carbamidomethyl on C]DSSPDSAEDVRK  398541.0

                                                                 rep2  \
Gene Names Sequence
AHSG       C[Common Fixed:Carbamidomethyl on C]DSSPDSAEDVR    37470.0
           C[Common Fixed:Carbamidomethyl on C]DSSPDSAEDVRK  418528.0

                                                                rep3     rep4  \
Gene Names Sequence
AHSG       C[Common Fixed:Carbamidomethyl on C]DSSPDSAEDVR       0.0      0.0
           C[Common Fixed:Carbamidomethyl on C]DSSPDSAEDVRK  53914.0  56892.0

                                                                rep5     rep6
Gene Names Sequence
AHSG       C[Common Fixed:Carbamidomethyl on C]DSSPDSAEDVR    5462.0      0.0
           C[Common Fixed:Carbamidomethyl on C]DSSPDSAEDVRK  71221.0  82695.0

In [134]:
expdf[expdf.index.get_level_values('Gene Names') == 'AGAP2']

                        rep1     rep2     rep3    rep4     rep5     rep6
Gene Names Sequence
AGAP2      ELLGAELR  36564.0  37080.0  16999.0  6929.0  41972.0  23534.0

In [135]:
expdf[expdf.index.get_level_values('Gene Names') == 'ADK']

                                                                rep1     rep2  \
Gene Names Sequence
ADK        AATFFGC[Common Fixed:Carbamidomethyl on C]IGIDK    7788.0   7396.0
           ELFDELVK                                           9634.0  10190.0
           IVIFTQGR                                          12126.0  10254.0
           SLIANLAAANC[Common Fixed:Carbamidomethyl on C]YK  13239.0  12485.0

                                                                rep3     rep4  \
Gene Names Sequence
ADK        AATFFGC[Common Fixed:Carbamidomethyl on C]IGIDK    8647.0   7261.0
           ELFDELVK                                              0.0      0.0
           IVIFTQGR                                              0.0      0.0
           SLIANLAAANC[Common Fixed:Carbamidomethyl on C]YK  22056.0  22764.0

                                                                rep5     rep6
Gene Names Sequence
ADK        AATFFGC[Common Fixed:Carbamidomethyl on C]IGIDK       0.0      0.0
           ELFDELVK                                           7266.0  17410.0
           IVIFTQGR                                          15249.0  10532.0
           SLIANLAAANC[Common Fixed:Carbamidomethyl on C]YK  11470.0  20057.0

In [136]:
expdf[expdf.index.get_level_values('Gene Names') == 'ACOT9']

                         rep1    rep2     rep3     rep4     rep5     rep6
Gene Names Sequence
ACOT9      IAFSSTSLLK  8492.0  6247.0  11375.0  15284.0  11286.0  13150.0

In [137]:
expdf[expdf.index.get_level_values('Gene Names') == 'ACOT12']

                            rep1    rep2     rep3     rep4     rep5     rep6
Gene Names Sequence
ACOT12     LVSVAFSTFVAK  11632.0  9377.0  20276.0  16107.0  17947.0  18425.0

In [138]:
expdf[expdf.index.get_level_values('Gene Names') == 'ACAT2']

                                                                 rep1    rep2  \
Gene Names Sequence
ACAT2      EIVPVLVSTR                                          8467.0  8072.0
           VNIEGGAIALGHPLGASGC[Common Fixed:Carbamidomethy...     0.0  2635.0

                                                                  rep3  \
Gene Names Sequence
ACAT2      EIVPVLVSTR                                          12322.0
           VNIEGGAIALGHPLGASGC[Common Fixed:Carbamidomethy...  11347.0

                                                                  rep4  \
Gene Names Sequence
ACAT2      EIVPVLVSTR                                           9057.0
           VNIEGGAIALGHPLGASGC[Common Fixed:Carbamidomethy...  10520.0

                                                                  rep5  \
Gene Names Sequence
ACAT2      EIVPVLVSTR                                          13373.0
           VNIEGGAIALGHPLGASGC[Common Fixed:Carbamidomethy...      0.0

                                                                  rep6
Gene Names Sequence
ACAT2      EIVPVLVSTR                                          12991.0
           VNIEGGAIALGHPLGASGC[Common Fixed:Carbamidomethy...   8406.0

In [139]:
expdf[expdf.index.get_level_values('Gene Names') == 'ABHD14B']

                          rep1     rep2     rep3    rep4    rep5     rep6
Gene Names Sequence
ABHD14B    INAANYASVK  11760.0  13584.0  12182.0  9099.0  9290.0  10580.0

In [140]:
expdf[expdf.index.get_level_values('Gene Names') == 'ACAT2']

                                                                 rep1    rep2  \
Gene Names Sequence
ACAT2      EIVPVLVSTR                                          8467.0  8072.0
           VNIEGGAIALGHPLGASGC[Common Fixed:Carbamidomethy...     0.0  2635.0

                                                                  rep3  \
Gene Names Sequence
ACAT2      EIVPVLVSTR                                          12322.0
           VNIEGGAIALGHPLGASGC[Common Fixed:Carbamidomethy...  11347.0

                                                                  rep4  \
Gene Names Sequence
ACAT2      EIVPVLVSTR                                           9057.0
           VNIEGGAIALGHPLGASGC[Common Fixed:Carbamidomethy...  10520.0

                                                                  rep5  \
Gene Names Sequence
ACAT2      EIVPVLVSTR                                          13373.0
           VNIEGGAIALGHPLGASGC[Common Fixed:Carbamidomethy...      0.0

                                                                  rep6
Gene Names Sequence
ACAT2      EIVPVLVSTR                                          12991.0
           VNIEGGAIALGHPLGASGC[Common Fixed:Carbamidomethy...   8406.0

In [141]:
expdf[expdf.index.get_level_values('Gene Names') == 'ABCF2']

                         rep1    rep2     rep3    rep4     rep5    rep6
Gene Names Sequence
ABCF2      LVDEEPQLTK  8854.0  9256.0  10765.0  9640.0  12944.0  6578.0

In [142]:
expdf[expdf.index.get_level_values('Gene Names') == 'ABCF1']

                                                            rep1     rep2  \
Gene Names Sequence
ABCF1      LQGQLEQGDDTAAER                                9926.0  13376.0
           STLLLLLTGK                                     2475.0   5514.0
           TFFEELAVEDK                                    7588.0   7490.0
           VVFAELAC[Common Fixed:Carbamidomethyl on C]R  12265.0  13945.0

                                                            rep3     rep4  \
Gene Names Sequence
ABCF1      LQGQLEQGDDTAAER                                   0.0      0.0
           STLLLLLTGK                                        0.0      0.0
           TFFEELAVEDK                                       0.0      0.0
           VVFAELAC[Common Fixed:Carbamidomethyl on C]R  11817.0  10338.0

                                                            rep5     rep6
Gene Names Sequence
ABCF1      LQGQLEQGDDTAAER                                   0.0      0.0
           STLLLLLTGK                                        0.0      0.0
           TFFEELAVEDK                                    3714.0  10085.0
           VVFAELAC[Common Fixed:Carbamidomethyl on C]R  12248.0  16165.0

In [143]:
no_consistent

['A2M',
 'ABCF3',
 'ACADM',
 'ACO2',
 'ACOT7',
 'ACSL4|ACSL3',
 'ACTL6B|ACTL6A',
 'ADAR',
 'ADSL',
 'ADSS2',
 'AFP',
 'AHNAK2',
 'AKR1A1',
 'AKR7A2',
 'ANXA11',
 'ANXA4',
 'AP1G1',
 'AP2A1',
 'ARF6',
 'ARHGAP1',
 'ARL3',
 'ARL8A|ARL8B',
 'ARPC5',
 'ARPC5L',
 'ASPH',
 'ATL3',
 'ATOX1',
 'ATP2B1|ATP2B4|ATP2B2|ATP2B3',
 'ATP5ME',
 'ATP5MF',
 'ATP5PD',
 'ATP5PF',
 'BAX',
 'BCAT2',
 'BLVRA',
 'BOLA2',
 'BYSL',
 'CALD1',
 'CAPZA1',
 'CAST',
 'CBX3',
 'CBX5',
 'CCAR2',
 'CCDC86',
 'CD109',
 'CD46',
 'CD58',
 'CDA',
 'CDK12',
 'CDV3',
 'CELF1',
 'CENPV',
 'CHD4',
 'CHMP1B',
 'CHMP4B',
 'CHTOP',
 'CIRBP',
 'CISD1',
 'CKAP4',
 'CLIC4',
 'CLPX',
 'CNDP2',
 'CNN2',
 'CNNM3',
 'CNTRL',
 'COASY',
 'COPS2',
 'CORO1B',
 'COX17',
 'COX6C',
 'CPM',
 'CPSF7',
 'CPT1A',
 'CSNK2A1|CSNK2A3',
 'CTBP2|CTBP1',
 'CTNNBL1',
 'CTSA',
 'CTSC',
 'CTSD',
 'CYB5R3',
 'CYRIB',
 'DARS2',
 'DAZAP1',
 'DBNL',
 'DCD',
 'DCTN2',
 'DCUN1D4',
 'DDB2',
 'DDX18',
 'DDX19A|DDX19B',
 'DDX27',
 'DDX42',
 'DECR1',
 'DENR',
 'DHFR',
 'DHRS4L1|DHRS4',
 'DIABLO',
 'DKC1',
 'DLAT',
 'DLD',
 'DNAJA2',
 'DNAJB11',
 'DNAJC7',
 'DNAJC9',
 'DNM1L',
 'DNM2',
 'DPM3',
 'DSP',
 'DYNLL1|DYNLL2',
 'DYNLRB2|DYNLRB1',
 'ECPAS',
 'EEF1E1',
 'EHD1',
 'EIF1B|EIF1',
 'EIF2A',
 'EIF4A2',
 'EIF4G2',
 'EMD',
 'ERO1A',
 'ESYT1',
 'ETHE1',
 'ETV2',
 'EWSR1',
 'EXOSC9',
 'FAM162A',
 'FERMT2',
 'FKBP10',
 'FKBP11',
 'FLOT1',
 'FLOT2',
 'FMR1',
 'FUBP3',
 'GALK1',
 'GALNT2',
 'GAR1',
 'GATD3B|GATD3',
 'GCN1',
 'GDA',
 'GFUS',
 'GGCT',
 'GNAI3',
 'GNAS|GNAS',
 'GNG5',
 'GNPDA1',
 'GNPNAT1',
 'GPX1',
 'GRHPR',
 'GRPEL1',
 'GSTK1',
 'GYG1',
 'GYS1',
 'H1-0',
 'H1-2',
 'H1-8',
 'HACD2',
 'HAT1',
 'HDLBP',
 'HEBP1',
 'HLA-A',
 'HMGN2|HMGN3',
 'HNRNPA0',
 'HNRNPH2',
 'HNRNPUL1',
 'HPCAL1|NCALD|HPCA',
 'HPDL',
 'HSDL2',
 'HSPBP1',
 'HTATIP2',
 'IK',
 'IKBIP',
 'IL18',
 'IQGAP2',
 'ISG15',
 'ITGA3',
 'ITIH3',
 'JPT2',
 'KCNJ10',
 'KDELR1|KDELR2',
 'KPNA2',
 'KPNA4',
 'KPNA6',
 'KRT87P|KRT86|KRT83|KRT85|KRT81',
 'KTN1',
 'LAMP2',
 'LANCL1',
 'LARP1',
 'LMNB2',
 'LRP5',
 'LSM4',
 'LSM7',
 'LSM8',
 'LUC7L3',
 'M6PR',
 'MACROD1',
 'MAGEF1',
 'MAGT1',
 'MAP2K2|MAP2K1',
 'MAP7',
 'MDFIC',
 'MESD',
 'METAP2',
 'MICOS10',
 'MIX23',
 'MLEC',
 'MOB1B|MOB1A',
 'MRPL15',
 'MRPS22',
 'MRPS23',
 'MRRF',
 'MSH2',
 'MTA2',
 'MTAP',
 'MTHFD2',
 'MTREX',
 'MYG1',
 'MYO10',
 'MYO1E',
 'NANS',
 'NAT10',
 'NAXE',
 'NCAPG',
 'NCEH1',
 'NDUFA10',
 'NDUFB5',
 'NDUFS1',
 'NDUFS2',
 'NEDD8',
 'NIN',
 'NIP7',
 'NIT2',
 'NMT1',
 'NOP10',
 'NPLOC4',
 'NPM3',
 'NQO1',
 'NQO2',
 'NRAS|HRAS|KRAS',
 'NSFL1C',
 'NUCB2',
 'NUCKS1',
 'NUMA1',
 'NUP210',
 'NUP62',
 'NUP85',
 'OGDH|OGDHL',
 'OSTC',
 'OXA1L',
 'OXCT1',
 'OXSR1',
 'PABPN1',
 'PACSIN3',
 'PAFAH1B1',
 'PAFAH1B2',
 'PBK',
 'PC',
 'PCMT1',
 'PCNT',
 'PCYOX1',
 'PDCD10',
 'PFDN1',
 'PFDN4',
 'PFDN5',
 'PGM3',
 'PGRMC2',
 'PHF5A',
 'PICALM',
 'PIKFYVE',
 'PIR',
 'PLOD1',
 'PLP2',
 'PMPCA',
 'PMPCB',
 'PNN',
 'POLD3',
 'POTEA',
 'PPME1',
 'PPP1R12A',
 'PPP2R2A',
 'PPP3CA',
 'PRKAR2A',
 'PROSER3',
 'PRPF3',
 'PRPF4',
 'PRPS1',
 'PSIP1',
 'PSMB3',
 'PSMB8',
 'PSMD12',
 'PSMD7',
 'PTMA',
 'PTP4A2|PTP4A1',
 'PTRHD1',
 'PTTG1|PTTG3P',
 'PUF60',
 'PUM3',
 'PYCR1|PYCR2',
 'RAB10',
 'RAB21',
 'RAB8A',
 'RALA|RALB',
 'RBM12',
 'RBM3',
 'RECQL5',
 'REXO2',
 'RFC2',
 'RIC8B',
 'RNF112',
 'RNF146',
 'RNMT',
 'RNPS1',
 'RPA3',
 'RPL35A',
 'RPL36AL',
 'RPL7L1',
 'RPN2',
 'RPRD1B',
 'RPS26',
 'RPS27L',
 'RPS28',
 'RPS29',
 'RRP1',
 'RRP12',
 'RTRAF',
 'S100A6',
 'SAMM50',
 'SDHB',
 'SEC31A',
 'SEPTIN1',
 'SEPTIN2',
 'SF3A2',
 'SF3B2',
 'SF3B5',
 'SFXN1',
 'SFXN3',
 'SHMT1',
 'SIGMAR1',
 'SKP1',
 'SLC16A1',
 'SLC25A25|SLC25A23',
 'SLC38A1',
 'SLC38A2',
 'SLC38A5',
 'SMAP',
 'SMARCA5',
 'SMARCC2|SMARCC1',
 'SMC1A',
 'SMC2',
 'SMC3',
 'SNRPA',
 'SNX1',
 'SNX12',
 'SPCS3',
 'SQOR',
 'SRI',
 'SRRM2',
 'SRRT',
 'SRSF10|SRSF12',
 'SSB',
 'SSR3',
 'STK26|STK24',
 'STOML2',
 'SUCLG1',
 'SUMF2',
 'SUMO1P1|SUMO1',
 'SURF6',
 'SWAP70',
 'TASOR2',
 'TBC1D20',
 'TBR1',
 'TENM3',
 'TES',
 'THBS1',
 'THEM6',
 'THOP1',
 'THUMPD1',
 'TIAL1',
 'TIMM10',
 'TIMM44',
 'TIMM8A',
 'TM9SF2',
 'TMCO1',
 'TMED2',
 'TMED4',
 'TMEM43',
 'TNRC18',
 'TOMM22',
 'TPM2',
 'TPM3',
 'TPR',
 'TRA2B',
 'TRIR',
 'TSC22D1',
 'TSN',
 'TWF1',
 'TXNL1',
 'UBE2D3|UBE2D2',
 'UBE2K',
 'UBE2V2',
 'UBQLN1',
 'UBXN1',
 'UCHL3',
 'UCHL5',
 'UMPS',
 'UQCRB',
 'UQCRHL|UQCRH',
 'VKORC1',
 'VTN',
 'WDR11',
 'WDR43',
 'WDR5',
 'XPO5',
 'YWHAH',
 'ZMPSTE24',
 'ZNF207',
 'ZNF714',
 'ZNF806']

In [144]:
# expdf[expdf.index.get_level_values('Gene Names') == '']

In [145]:
expdf[expdf.index.get_level_values('Gene Names') == '']

Empty DataFrame
Columns: [rep1, rep2, rep3, rep4, rep5, rep6]
Index: []

In [146]:
expdf[expdf.index.get_level_values('Gene Names') == 'DNM2']

                           rep1    rep2    rep3    rep4    rep5    rep6
Gene Names Sequence
DNM2       NLVDSYVAIINK     0.0     0.0  6638.0  8444.0  4189.0  7301.0
           SSVLENFVGR    5953.0  3253.0     0.0  8282.0  7572.0  8367.0

In [147]:
expdf[expdf.index.get_level_values('Gene Names') == 'DLAT']

                        rep1    rep2  rep3    rep4    rep5     rep6
Gene Names Sequence
DLAT       ISVNDFIIK  5624.0  9641.0   0.0  8266.0  7933.0  12284.0

In [148]:
expdf[expdf.index.get_level_values('Gene Names') == 'DNAJB11']

                          rep1    rep2  rep3  rep4     rep5  rep6
Gene Names Sequence
DNAJB11    TLEVEIEPGVR  9336.0  7454.0   0.0   0.0  12151.0   0.0

In [149]:
expdf[expdf.index.get_level_values('Gene Names') == 'DNAJA2']

                         rep1    rep2  rep3  rep4    rep5    rep6
Gene Names Sequence
DNAJA2     VSLEDLYNGK  8999.0  4892.0   0.0   0.0  9109.0  8826.0

In [150]:
expdf[expdf.index.get_level_values('Gene Names') == 'DLAT']

                        rep1    rep2  rep3    rep4    rep5     rep6
Gene Names Sequence
DLAT       ISVNDFIIK  5624.0  9641.0   0.0  8266.0  7933.0  12284.0

In [151]:
expdf[expdf.index.get_level_values('Gene Names') == 'DIABLO']

                         rep1    rep2  rep3    rep4     rep5  rep6
Gene Names Sequence
DIABLO     LAEAQIEELR  9918.0  6849.0   0.0  6931.0  10703.0   0.0

In [152]:
expdf[expdf.index.get_level_values('Gene Names') == 'DHFR']

                          rep1     rep2  rep3    rep4  rep5    rep6
Gene Names Sequence
DHFR       LTEQPELANK  12084.0  14919.0   0.0  6449.0   0.0  9234.0

In [153]:
expdf[expdf.index.get_level_values('Gene Names') == 'DENR']

                       rep1    rep2  rep3  rep4     rep5     rep6
Gene Names Sequence
DENR       LTVENSPK  8403.0  9778.0   0.0   0.0  13899.0  14574.0

In [154]:
expdf[expdf.index.get_level_values('Gene Names') == 'DDB2']

                           rep1    rep2  rep3  rep4    rep5  rep6
Gene Names Sequence
DDB2       GIGAGGSITGLK  7256.0  6213.0   0.0   0.0  9822.0   0.0

In [155]:
expdf[expdf.index.get_level_values('Gene Names') == 'DCTN2']

                             rep1    rep2    rep3    rep4  rep5    rep6
Gene Names Sequence
DCTN2      ASVEDADTQSK     7548.0  8637.0     0.0     0.0   0.0     0.0
           DNTTLLTQVQTTMR  5314.0  6203.0  8600.0  7907.0   0.0  9166.0

In [156]:
expdf[expdf.index.get_level_values('Gene Names') == 'DCD']

                         rep1  rep2     rep3    rep4  rep5  rep6
Gene Names Sequence
DCD        SSLLEKGLDGAK   0.0   0.0  13121.0  8623.0   0.0   0.0

In [157]:
expdf[expdf.index.get_level_values('Gene Names') == 'CPM']

                       rep1    rep2  rep3  rep4    rep5     rep6
Gene Names Sequence
CPM        ASLIEYIK  4979.0  5406.0   0.0   0.0  7496.0  10436.0

In [158]:
expdf[expdf.index.get_level_values('Gene Names') == 'CORO1B']

                         rep1    rep2  rep3  rep4    rep5    rep6
Gene Names Sequence
CORO1B     DADPILISLR  6656.0  6430.0   0.0   0.0  8126.0  7670.0

In [159]:
expdf[expdf.index.get_level_values('Gene Names') == 'COPS2']

                             rep1    rep2    rep3  rep4    rep5    rep6
Gene Names Sequence
COPS2      IDQVNQLLELDHQK  3760.0  2298.0  7634.0   0.0  7071.0  5141.0

In [160]:
expdf[expdf.index.get_level_values('Gene Names') == 'CNTRL']

                     rep1      rep2      rep3      rep4      rep5      rep6
Gene Names Sequence
CNTRL      QDNLALIK   0.0  482729.0  200493.0  202354.0  326713.0  200196.0

In [161]:
expdf[expdf.index.get_level_values('Gene Names') == 'CNNM3']

                        rep1     rep2  rep3  rep4  rep5  rep6
Gene Names Sequence
CNNM3      IPVYEEER  13301.0  12549.0   0.0   0.0   0.0   0.0

In [162]:
expdf[expdf.index.get_level_values('Gene Names') == 'CNDP2']

                            rep1    rep2    rep3  rep4     rep5  rep6
Gene Names Sequence
CNDP2      QLGGSVELVDIGK  7700.0  5254.0     0.0   0.0   8788.0   0.0
           TVFGVEPDLTR    7489.0  8797.0  7178.0   0.0  15505.0   0.0

In [163]:
expdf[expdf.index.get_level_values('Gene Names') == 'CNDP2']

                            rep1    rep2    rep3  rep4     rep5  rep6
Gene Names Sequence
CNDP2      QLGGSVELVDIGK  7700.0  5254.0     0.0   0.0   8788.0   0.0
           TVFGVEPDLTR    7489.0  8797.0  7178.0   0.0  15505.0   0.0

In [164]:
expdf[expdf.index.get_level_values('Gene Names') == 'CLPX']

                             rep1  rep2  rep3  rep4  rep5  rep6
Gene Names Sequence
CLPX       AAAAADLANR     11578.0   0.0   0.0   0.0   0.0   0.0
           SNILLLGPTGSGK   4783.0   0.0   0.0   0.0   0.0   0.0

In [165]:
expdf[expdf.index.get_level_values('Gene Names') == 'CLIC4']

                                                              rep1     rep2  \
Gene Names Sequence
CLIC4      DEFTNTC[Common Fixed:Carbamidomethyl on C]PSDK  11651.0  13340.0
           EVEIAYSDVAK                                     15500.0  18031.0
           GVVFSVTTVDLK                                     6203.0   5786.0
           NSRPEANEALER                                    10994.0  12013.0

                                                              rep3     rep4  \
Gene Names Sequence
CLIC4      DEFTNTC[Common Fixed:Carbamidomethyl on C]PSDK      0.0      0.0
           EVEIAYSDVAK                                         0.0      0.0
           GVVFSVTTVDLK                                    10608.0  14747.0
           NSRPEANEALER                                        0.0   7245.0

                                                              rep5     rep6
Gene Names Sequence
CLIC4      DEFTNTC[Common Fixed:Carbamidomethyl on C]PSDK      0.0   7929.0
           EVEIAYSDVAK                                     17648.0   8649.0
           GVVFSVTTVDLK                                        0.0  12762.0
           NSRPEANEALER                                     5629.0      0.0

In [166]:
expdf[expdf.index.get_level_values('Gene Names') == 'CHMP4B']

                              rep1     rep2  rep3  rep4     rep5  rep6
Gene Names Sequence
CHMP4B     EALENANTNTEVLK  10421.0  12994.0   0.0   0.0  19629.0   0.0
           KIEQELTAAK       7331.0  11519.0   0.0   0.0      0.0   0.0

In [167]:
expdf[expdf.index.get_level_values('Gene Names') == 'CHMP1B']

                        rep1     rep2  rep3  rep4    rep5     rep6
Gene Names Sequence
CHMP1B     NQAVNFLR  12416.0  12926.0   0.0   0.0  8924.0  11620.0

In [168]:
expdf[expdf.index.get_level_values('Gene Names') == 'CHD4']

                            rep1    rep2  rep3    rep4    rep5     rep6
Gene Names Sequence
CHD4       SAIDLTPIVVEDK     0.0  7955.0   0.0     0.0  8119.0  14287.0
           YAILNEPFK      8575.0  6166.0   0.0  7934.0     0.0   7259.0

In [169]:
expdf[expdf.index.get_level_values('Gene Names') == 'CENPV']

                          rep1    rep2  rep3    rep4    rep5    rep6
Gene Names Sequence
CENPV      SQAVEKPPSEK  7948.0  6782.0   0.0  3351.0  1897.0  4200.0

In [170]:
expdf[expdf.index.get_level_values('Gene Names') == 'CELF1']

                            rep1    rep2  rep3    rep4     rep5  rep6
Gene Names Sequence
CELF1      AALEAQNALHNMK  8024.0  7869.0   0.0  5383.0  10486.0   0.0

In [171]:
expdf[expdf.index.get_level_values('Gene Names') == 'CDV3']

                        rep1    rep2  rep3  rep4     rep5     rep6
Gene Names Sequence
CDV3       SLDNFFAK  12598.0  6837.0   0.0   0.0  12376.0  17505.0

In [172]:
expdf[expdf.index.get_level_values('Gene Names') == 'CDK12']

,,rep1,rep2,rep3,rep4,rep5,rep6
Gene Names,Sequence,,,,,,
CDK12,AAAAAAAKM[Common Variable:Oxidation on M]DGKESK,0.0,0.0,10632.0,7740.0,0.0,0.0

In [173]:
expdf[expdf.index.get_level_values('Gene Names') == 'CDA']

,,rep1,rep2,rep3,rep4,rep5,rep6
Gene Names,Sequence,,,,,,
CDA,GC[Common Fixed:Carbamidomethyl on C]NIENAC[Common Fixed:Carbamidomethyl on C]YPLGIC[Common Fixed:Carbamidomethyl on C]AER,0.0,0.0,5539.0,11083.0,0.0,0.0

In [174]:
expdf[expdf.index.get_level_values('Gene Names') == 'CD58']

                         rep1    rep2  rep3  rep4    rep5    rep6
Gene Names Sequence
CD58       VAELENSEFR  6955.0  5722.0   0.0   0.0  4693.0  8001.0

In [175]:
expdf[expdf.index.get_level_values('Gene Names') == 'CD46']

                        rep1    rep2  rep3  rep4    rep5    rep6
Gene Names Sequence
CD46       PYYEIGER  10608.0  7979.0   0.0   0.0  7319.0  8778.0

In [176]:
expdf[expdf.index.get_level_values('Gene Names') == 'CD109']

                              rep1  rep2    rep3    rep4    rep5  rep6
Gene Names Sequence
CD109      NSLGGFASTQDTTVALK   0.0   0.0  7318.0  5543.0  5492.0   0.0

In [177]:
expdf[expdf.index.get_level_values('Gene Names') == 'CCDC86']

                        rep1    rep2  rep3    rep4    rep5  rep6
Gene Names Sequence
CCDC86     AEVVQVIR   5512.0  7166.0   0.0  7581.0  6824.0   0.0
           RDTLALLQK  5335.0  4165.0   0.0     0.0     0.0   0.0

In [178]:
expdf[expdf.index.get_level_values('Gene Names') == 'CBX5']

                          rep1     rep2  rep3  rep4    rep5     rep6
Gene Names Sequence
CBX5       GQVEYLLK     8959.0  10728.0   0.0   0.0  6919.0      0.0
           SNFSNSADDIK  9269.0  12990.0   0.0   0.0  7342.0  10981.0

In [179]:
expdf[expdf.index.get_level_values('Gene Names') == 'CBX3']

                                                                  rep1  \
Gene Names Sequence
CBX3       DSDEADLVLAK                                         27329.0
           IIGATDSSGELM[Common Variable:Oxidation on M]FLM...      0.0
           KVEEAEPEEFVVEK                                      21863.0

                                                                  rep2  \
Gene Names Sequence
CBX3       DSDEADLVLAK                                         22983.0
           IIGATDSSGELM[Common Variable:Oxidation on M]FLM...  23180.0
           KVEEAEPEEFVVEK                                      20968.0

                                                                 rep3  rep4  \
Gene Names Sequence
CBX3       DSDEADLVLAK                                         9680.0   0.0
           IIGATDSSGELM[Common Variable:Oxidation on M]FLM...     0.0   0.0
           KVEEAEPEEFVVEK                                         0.0   0.0

                                                                  rep5  \
Gene Names Sequence
CBX3       DSDEADLVLAK                                             0.0
           IIGATDSSGELM[Common Variable:Oxidation on M]FLM...  17018.0
           KVEEAEPEEFVVEK                                      22147.0

                                                                  rep6
Gene Names Sequence
CBX3       DSDEADLVLAK                                             0.0
           IIGATDSSGELM[Common Variable:Oxidation on M]FLM...  16986.0
           KVEEAEPEEFVVEK                                      17596.0

In [180]:
expdf[expdf.index.get_level_values('Gene Names') == 'CAPZA1']

                                    rep1     rep2     rep3     rep4     rep5  \
Gene Names Sequence
CAPZA1     DVQDSLTVSNEAQTAK      19743.0  21336.0      0.0      0.0  18093.0
           IEGYEDQVLITEHGDLGNSR   6315.0   3577.0      0.0      0.0      0.0
           IQVHYYEDGNVQLVSHK         0.0      0.0   7943.0   6657.0      0.0
           LLLNNDNLLR            39511.0  37218.0  43554.0  45068.0      0.0

                                   rep6
Gene Names Sequence
CAPZA1     DVQDSLTVSNEAQTAK      8845.0
           IEGYEDQVLITEHGDLGNSR     0.0
           IQVHYYEDGNVQLVSHK        0.0
           LLLNNDNLLR               0.0

In [181]:
expdf[expdf.index.get_level_values('Gene Names') == 'CALD1']

                           rep1    rep2    rep3     rep4    rep5  rep6
Gene Names Sequence
CALD1      LEQYTSAIEGTK     0.0  8574.0     0.0   6542.0  8993.0   0.0
           PAASDLPVPAEGVR   0.0     0.0  8753.0  12127.0     0.0   0.0

In [182]:
expdf[expdf.index.get_level_values('Gene Names') == 'BYSL']

                        rep1    rep2  rep3  rep4  rep5  rep6
Gene Names Sequence
BYSL       FYNLVLLPR  2333.0  2012.0   0.0   0.0   0.0   0.0

In [183]:
expdf[expdf.index.get_level_values('Gene Names') == 'BOLA2']

                                rep1     rep2  rep3  rep4  rep5  rep6
Gene Names Sequence
BOLA2      DLEAEHVEVEDTTLNR  10607.0  14294.0   0.0   0.0   0.0   0.0

In [184]:
expdf[expdf.index.get_level_values('Gene Names') == 'BLVRA']

                             rep1    rep2  rep3  rep4  rep5    rep6
Gene Names Sequence
BLVRA      GSLLFTAGPLEEER  7023.0  5191.0   0.0   0.0   0.0  8250.0

In [185]:
expdf[expdf.index.get_level_values('Gene Names') == 'BCAT2']

,,rep1,rep2,rep3,rep4,rep5,rep6
Gene Names,Sequence,,,,,,
BCAT2,EVFGSGTAC[Common Fixed:Carbamidomethyl on C]QVC[Common Fixed:Carbamidomethyl on C]PVHR,7816.0,7355.0,0.0,0.0,5351.0,0.0

In [186]:
expdf[expdf.index.get_level_values('Gene Names') == 'BAX']

                            rep1    rep2  rep3  rep4  rep5  rep6
Gene Names Sequence
BAX        TGALLLQGFIQDR  4841.0  3031.0   0.0   0.0   0.0   0.0

In [187]:
expdf[expdf.index.get_level_values('Gene Names') == 'ATP5PF']

                                  rep1     rep2  rep3  rep4  rep5  rep6
Gene Names Sequence
ATP5PF     QTSGGPVDASSEYQQELER  9970.0  12267.0   0.0   0.0   0.0   0.0

In [188]:
expdf[expdf.index.get_level_values('Gene Names') == 'ATP5MF']

                            rep1    rep2    rep3  rep4  rep5  rep6
Gene Names Sequence
ATP5MF     DFSPSGIFGAFQR  6630.0  5998.0  4902.0   0.0   0.0   0.0

In [189]:
expdf[expdf.index.get_level_values('Gene Names') == 'ATP5ME']

                          rep1     rep2    rep3     rep4  rep5  rep6
Gene Names Sequence
ATP5ME     ELAEDDSILK  29897.0  28962.0  9148.0  12342.0   0.0   0.0

In [190]:
expdf[expdf.index.get_level_values('Gene Names') == 'ATOX1']

                       rep1    rep2  rep3  rep4  rep5  rep6
Gene Names Sequence
ATOX1      YDIDLPNK  7678.0  8108.0   0.0   0.0   0.0   0.0

In [191]:
expdf[expdf.index.get_level_values('Gene Names') == 'ASPH']

                          rep1     rep2    rep3    rep4    rep5     rep6
Gene Names Sequence
ASPH       GLFLPEDENLR  8459.0   8303.0     0.0     0.0  7398.0  12138.0
           IEEAVNAFK    5748.0  11763.0  3640.0  2628.0     0.0      0.0

In [192]:
expdf[expdf.index.get_level_values('Gene Names') == 'ARPC5L']

                         rep1  rep2    rep3  rep4  rep5  rep6
Gene Names Sequence
ARPC5L     ALAVGGLGSIIR   0.0   0.0  7963.0   0.0   0.0   0.0

In [193]:
expdf[expdf.index.get_level_values('Gene Names') == 'ARL3']

                        rep1    rep2  rep3  rep4    rep5     rep6
Gene Names Sequence
ARL3       ILLLGLDNAGK   0.0  7175.0   0.0   0.0  7514.0  12209.0

In [194]:
expdf[expdf.index.get_level_values('Gene Names') == 'ARF6']

                          rep1    rep2  rep3  rep4  rep5    rep6
Gene Names Sequence
ARF6       ILMLGLDAAGK  6938.0  5005.0   0.0   0.0   0.0  8254.0

In [195]:
expdf[expdf.index.get_level_values('Gene Names') == 'AP2A1']

,,rep1,rep2,rep3,rep4,rep5,rep6
Gene Names,Sequence,,,,,,
AP2A1,ALQVGC[Common Fixed:Carbamidomethyl on C]LLR,3265.0,4867.0,0.0,0.0,9552.0,10687.0

In [196]:
expdf[expdf.index.get_level_values('Gene Names') == 'AP1G1']

                           rep1     rep2  rep3  rep4  rep5  rep6
Gene Names Sequence
AP1G1      TVQTDHNAVQR  10028.0  11215.0   0.0   0.0   0.0   0.0

In [197]:
expdf[expdf.index.get_level_values('Gene Names') == 'ANXA4']

                               rep1    rep2  rep3  rep4  rep5  rep6
Gene Names Sequence
ANXA4      AASGFNAMEDAQTLR  10415.0  6775.0   0.0   0.0   0.0   0.0

In [198]:
expdf[expdf.index.get_level_values('Gene Names') == 'ANXA11']

                            rep1     rep2    rep3    rep4    rep5    rep6
Gene Names Sequence
ANXA11     AHLVAVFNEYQR      0.0      0.0     0.0     0.0  4362.0     0.0
           LLISLSQGNR     4947.0   4815.0     0.0     0.0     0.0     0.0
           QQILLSFK       9876.0  11586.0     0.0     0.0  8397.0  9911.0
           SETDLLDIR      7029.0   6005.0     0.0     0.0  5776.0  5938.0
           TPVLFDIYEIK   16904.0  14250.0  8016.0  5401.0     0.0     0.0

In [199]:
expdf[expdf.index.get_level_values('Gene Names') == 'AKR1A1']

                              rep1    rep2    rep3    rep4  rep5  rep6
Gene Names Sequence
AKR1A1     GLEVTAYSPLGSSDR  5553.0  5754.0     0.0     0.0   0.0   0.0
           GLVQALGLSNFNSR   3375.0     0.0  9300.0  7294.0   0.0   0.0

In [200]:
expdf[expdf.index.get_level_values('Gene Names') == 'AHNAK2']

                          rep1  rep2  rep3  rep4  rep5  rep6
Gene Names Sequence
AHNAK2     GPEIDIKGPK  18321.0   0.0   0.0   0.0   0.0   0.0

In [201]:
expdf[expdf.index.get_level_values('Gene Names') == 'AFP']

                          rep1     rep2  rep3     rep4  rep5     rep6
Gene Names Sequence
AFP        YIQESQALAK  14160.0  20600.0   0.0  12250.0   0.0  16254.0

In [202]:
expdf[expdf.index.get_level_values('Gene Names') == 'ADSL']

                          rep1    rep2  rep3  rep4    rep5    rep6
Gene Names Sequence
ADSL       SNLENIDFK    6992.0  6260.0   0.0   0.0  4898.0     0.0
           VLSQQAASVVK  6996.0  9250.0   0.0   0.0     0.0  6127.0

In [203]:
expdf[expdf.index.get_level_values('Gene Names') == 'ACO2']

                            rep1    rep2     rep3     rep4     rep5    rep6
Gene Names Sequence
ACO2       LQLLEPFDK      8341.0  9283.0      0.0      0.0   5534.0  9975.0
           SQFTITPGSEQIR     0.0     0.0  10596.0  10808.0  13413.0     0.0

In [204]:
expdf[expdf.index.get_level_values('Gene Names') == 'A2M']

                           rep1     rep2     rep3     rep4     rep5     rep6
Gene Names Sequence
A2M        PLLVEPEGLEK  14260.0  12899.0      0.0      0.0  26723.0  24622.0
           QTVSWAVTPK       0.0   3953.0  22109.0  22885.0  18402.0   7944.0

In [205]:
expdf[expdf.index.get_level_values('Gene Names') == 'PGM1']

                                                                  rep1  \
Gene Names Sequence
PGM1       FFGNLMDASK                                           8615.0
           FNISNGGPAPEAITDK                                    10812.0
           LSLC[Common Fixed:Carbamidomethyl on C]GEESFGTG...      0.0
           QEATLVVGGDGR                                         6485.0
           SIFDFSALK                                            6382.0
           VDLGVLGK                                             4128.0

                                                                 rep2  \
Gene Names Sequence
PGM1       FFGNLMDASK                                          7159.0
           FNISNGGPAPEAITDK                                       0.0
           LSLC[Common Fixed:Carbamidomethyl on C]GEESFGTG...     0.0
           QEATLVVGGDGR                                        7666.0
           SIFDFSALK                                           7146.0
           VDLGVLGK                                            8711.0

                                                                  rep3  \
Gene Names Sequence
PGM1       FFGNLMDASK                                           9597.0
           FNISNGGPAPEAITDK                                        0.0
           LSLC[Common Fixed:Carbamidomethyl on C]GEESFGTG...  14043.0
           QEATLVVGGDGR                                            0.0
           SIFDFSALK                                            6246.0
           VDLGVLGK                                             5373.0

                                                                 rep4  \
Gene Names Sequence
PGM1       FFGNLMDASK                                          7914.0
           FNISNGGPAPEAITDK                                       0.0
           LSLC[Common Fixed:Carbamidomethyl on C]GEESFGTG...  8081.0
           QEATLVVGGDGR                                           0.0
           SIFDFSALK                                           7164.0
           VDLGVLGK                                            7660.0

                                                                  rep5  \
Gene Names Sequence
PGM1       FFGNLMDASK                                           7259.0
           FNISNGGPAPEAITDK                                    19930.0
           LSLC[Common Fixed:Carbamidomethyl on C]GEESFGTG...      0.0
           QEATLVVGGDGR                                         4707.0
           SIFDFSALK                                            7232.0
           VDLGVLGK                                            13656.0

                                                                  rep6
Gene Names Sequence
PGM1       FFGNLMDASK                                          12042.0
           FNISNGGPAPEAITDK                                        0.0
           LSLC[Common Fixed:Carbamidomethyl on C]GEESFGTG...      0.0
           QEATLVVGGDGR                                            0.0
           SIFDFSALK                                           10132.0
           VDLGVLGK                                                0.0